  .tooltip-inner {
    text-align:left;
    padding:1.5em 1.5em;
    color:#fff;
    font-weight:400;
    font-size:1.1em;
    border-radius:6px;
    background-color:rgba(21, 73, 54, 0.99);
  }

  .tooltip.top .tooltip-arrow {
    border-top-color:rgba(21, 73, 54, 0.99);
  }

  .account-finder-table a,
  .account-finder-table a:hover,
  .account-finder-table a:active,
  .account-finder-table a:focus {
    color:#ffffff;
  }