@media screen and (min-width:320px) {

	html, body {
	    height: 100%;
	    margin: 0;
	}

	footer {
		display:none;
	}

	.media-object {
		width:100px;
	}

	article h1,
	article p.lead,
	article small,
	article .byline {
		margin-bottom:15px;
	}

	h1 {
		font-size: 2.5em;
	}


	article p.lead,
	article h3 {
		color: #000;
		font-size: 1.5em;
		margin-top: 1em;
		letter-spacing: -0.4px;
	}

	article p {
	    margin-bottom: 1.2em;
	    font-weight:300;
	    color: #333;
	    line-height: 1.6;
	    font-size:1.15em;
	}

	.byline .media-object {
		width:75px;
	}

	.article-social {
		display:block;
		margin-left:-15px;
		margin-bottom:1.5em;
	}

	.btn-share-facebook {
		color:#ffffff;
		background-color:#3b5998;
	}

	.btn-share-twitter {
		color:#ffffff;
		background-color:#00aced;
	}

	.btn-share-googleplus {
		color:#ffffff;
		background-color:#dd4b39;
	}

	.btn-share-pdf {
		color:#ffffff;
		background-color:#f00;
	}

	.btn-share-facebook:hover,
	.btn-share-facebook:active,
	.btn-share-facebook:focus,
	.btn-share-twitter:hover,
	.btn-share-twitter:active,
	.btn-share-twitter:focus,
	.btn-share-googleplus:hover,
	.btn-share-googleplus:active,
	.btn-share-googleplus:focus,
	.btn-share-pdf:hover,
	.btn-share-pdf:active,
	.btn-share-pdf:focus {
		color:#ffffff;
		background-color:#169a43;
		outline:none!important;
	}

	/* new */

	.blog-tabs.nav-tabs>li.active>a {
		background-color:transparent;
		color:#ffffff;
	}

	.nav.blog-tabs>li>a,
	.nav.blog-tabs>li>a:hover,
	.nav.blog-tabs>li>a:focus {
	    text-decoration: none;
		background-color: transparent;
		color: #134836;
	    border: 1px solid transparent;
	}

	.blog-tabs.nav-tabs>li.active>a,
	.blog-tabs.nav-tabs>li.active>a:hover,
	.blog-tabs.nav-tabs>li.active>a:focus {
		background-color:transparent;
		color:#169a43;
		border: 1px solid transparent;
	}

	article {
	    margin: 0 auto;
	    max-width: 920px;
	    padding-right: 30px;
	}

	/* related articles */

	article .card a {
		font-weight: 500;
		line-height: 1.4em;
		color:#333;
	}

	.article {
		margin-left:30px;
	}

	.trending-content {
	    width: 100%;
	    padding-bottom: 1em;
	    transition: all 300ms ease;
	}

	.trending-content {
	    border: 1px solid #e7e7e7;
	    border-bottom: 0;
	    border-top:0;
	    margin-bottom:0;
		font-size:1em;
	}

	.trending-content li {
		border-bottom: 1px solid #e9e9e9;
		background-color:#f7f7f7;
	}

	.trending-content li:last-child {
		border-bottom: 0;
	}

	.trending-content li.active {
		background-color:#ffffff;
	}

	.trending-content li.active a {
		color:rgb(21,71,52);
	}

	.trending-content a {
		display:block;
		padding: 1em;
		color:rgb(100,101,105);
	}

	.trending-content a:hover {
		background-color:#fff;
		color:rgb(21,71,52);
	}

	.trending-content > li.active hr {
		height:3px;
		border:0;
		margin: 0;
		width:100%;
	    border-bottom: 2px solid #169a43;
	}

	.trending-content .breadcrumb {
		background-color:#f7f7f7;
		margin-bottom:0;
		font-size:80%;
	}

	.trending-content .breadcrumb li {
		background-color:transparent;
		border-bottom:0;
		color: #333;
	}

	.trending-content .breadcrumb a {
		display:inline-block;
		padding:1em 0;
		color:#159b42; 
	}

	.trending-content .breadcrumb a:hover {
		display:inline-block;
		padding:1em 0;
		background-color:transparent;
	}


	.sidenav {
		width:100%;
		display: block;
	    height: 100%;
	    position: fixed;
	}

	.trending {
		position: absolute;
	    top: 0;
	    background-color: #F2F2F2;
	    height: 100%;
	    color: #fff;
	    display: inline-block;
	    overflow: hidden;
	    margin: 0;
	    padding-bottom:1.5em;
	    width: 100%;
	    -webkit-transform: translate(0, 0);
	    transform: translate(0, 0);
	    transition: -webkit-transform 200ms;
	    transition: transform 200ms;
	    transition: transform 200ms, -webkit-transform 200ms;
	    will-change: transform;
	}

	.trending-content {
		height: 100%;
	    overflow-y: auto;
	}

	.trending-content::-webkit-scrollbar {
		display:none;
	}

	.blog-tabs li {
		text-align:center;
		width: 50%;
	}

	.blog-tabs-wrapper.affix {
		top:0;
		width: 100%;
		background-color: #ffffff;
		z-index:1;
		-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
		box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
	}

	.blog-tabs-wrapper.affix .blog-tabs {
		border-bottom:0;
	}

	.blog-tabs-placeholder {
		display:none;
	}
}

@media screen and (min-width:480px) {

	.trending-content {
		font-size:1.2em;
	}

	.media-object {
		width:125px;
	}
}

@media screen and (min-width:768px) {

	.media-object {
		width:125px;
	}

	article .card h4 {
		font-size:1.3em;
	}

	h1 {
		font-size: 4em;
	}
}

@media screen and (max-width:991px) {

}

@media screen and (min-width:992px) {

	.trending-content {
		font-size:1em;
	}

	.media-object {
		width:100px;
	}

	.article {
		margin-left:430px;
	}

	article .card h4 {
		font-size:1.1em;
	}

	.sidenav {
		width:400px;
		display: block;
	    height: 100%;
	    position: fixed;
	}

	.trending {
		position: absolute;
	    top: 0;
	    background-color: #F2F2F2;
	    height: 100%;
	    color: #fff;
	    display: inline-block;
	    overflow: hidden;
	    margin: 0;
	    padding-bottom:0;
	    width: 100%;
	    -webkit-transform: translate(0, 0);
	    transform: translate(0, 0);
	    transition: -webkit-transform 200ms;
	    transition: transform 200ms;
	    transition: transform 200ms, -webkit-transform 200ms;
	    will-change: transform;
	}

	.trending-content {
		height: 100%;
	    overflow-y: auto;
	}

	.trending-content {
	    border: 1px solid #e7e7e7;
	    border-bottom: 0;
	    border-top:0;
	    margin-bottom:0;
	}

	.trending-content li {
		border-bottom: 1px solid #e9e9e9;
		background-color:#f7f7f7;
	}

	.trending-content li:last-child {
		border-bottom: 0;
	}

	.trending-content li.active {
		background-color:#ffffff;
	}

	.trending-content li.active a {
		color:rgb(21,71,52);
	}

	.trending-content a {
		display:block;
		padding: 1em;
		color:rgb(100,101,105);
	}

	.trending-content a:hover {
		background-color:#fff;
		color:rgb(21,71,52);
	}

	.trending-content .breadcrumb {
		background-color:#f7f7f7;
		margin-bottom:0;
		font-size:80%;
	}

	.trending-content .breadcrumb li {
		background-color:transparent;
		border-bottom:0;
		color: #333;
	}

	.trending-content .breadcrumb a {
		display:inline-block;
		padding:1em 0;
		color:#159b42; 
	}

	.trending-content .breadcrumb a:hover {
		display:inline-block;
		padding:1em 0;
		background-color:transparent;
	}

	
}

@media screen and (min-width:1200px) {

	article .card h4 {
		font-size:1.3em;
	}
}
