

@media screen and (min-width:1px) {

	.branch-sidebar {
		background-color:#f7f7f7;
	}

	.btn-branch-sidebar {
	    background-color: #169a43;
	    display: inline-block;
	    width: 50%;
	    padding: 16px 0;
	    color:#ffffff;
	    border:0;
	    border-radius:0;
	    font-size: 1.1em;
	    font-weight:500;
	}

	.btn-branch-sidebar:hover {
	    color: rgb(255, 255, 255);
	    background-color: #169a43;
	}

	.btn-branch-sidebar.brand-grey-light:hover {
	    color:rgb(21,71,52);
	}

	.branch-details li,
	.branch-hours li {
		padding: 0.75em 0;
		border-bottom: 1px solid #e1e1e1;
		display: block;
	}

	.branch-services li {
		padding: 0.5em 0;
		display: block;
	}

	.branch-services ul {
		display:inline-block;
		width:50%;
	}

	.hours-hours {
		float:right;
	}

	#map {
		height: 350px;
		width: 100%;
	}

	.btn-map,
	.btn-map:hover {
		font-size:13px;
	}

	.branch-about .card a {
		font-weight: 500;
		line-height: 1.4em;
		font-size:85%;
		color:#333;
	}

	.branch-staff-card {
		display:block;
		border-left:3px solid #159b42;
		background-color: #f7f7f7;
	}

	.branch-staff-card > div {
		display: inline-block;
		vertical-align: middle;
		padding: 0.5em 1.5em;
	}

	.branch-staff-card > div p {
		font-family: georgia;
		font-style: italic;
	}

	.branch-staff-card a.btn-brand-alt {
		margin-bottom:1em;
	}

	.branch-staff-photo {
	    width: 100px;
	    height:100px;
	    border-radius:100%;
	    overflow: hidden;
	    background-size:cover;
	    background-position:center center;
	}
}

@media screen and (min-width:992px) {
	.branch-staff-card {
		display:table;
		border-left:3px solid #159b42;
		background-color: #f7f7f7;
	}

	.branch-staff-card > div {
		display: table-cell;
		vertical-align: middle;
		padding:1em;
	}

	.branch-staff-photo {
	    width: 100px;
	    overflow: hidden;
	}

	.branch-staff-card a.btn-brand-alt {
		margin-bottom:0;
	}
}

@media screen and (min-width:1200px) {
	.branch-staff-card > div p {
		font-size: 12px;
	}
}

@media print and (min-width:1px) {

	footer,
	.branch-about,
	.btn-branch-sidebar,
	.nav-wrapper,
	.page-header {
		display:none;
	}

	.col-lg-push-8.branch-sidebar {
	    left: 0;
	    padding: 2em;
	    border: 1px solid #000;
	    margin-top:1em;
	}

	.col-lg-push-8.branch-sidebar img {
		display:block!important;
	}

	.page-header {
		border:0;
		background-color:none;
	}
}

