/* Main menu wrapper */

.nav-wrapper {
	background-color:#fff;
}

.cbp-hsmenu-wrapper {
    /* position: relative; */
    margin: 0 auto;
    /* text-align: center; */
}

/* Common style for all lists */
.cbp-hsmenu-wrapper ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

/* 100% width bar for menu */
.cbp-hsinner {
	background: rgb(255, 255, 255);
	border-bottom: 1px solid #e9e9e9;
	position: relative;
	z-index: 100;
}

/* Main menu style */
.cbp-hsmenu-wrapper .cbp-hsmenu {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em;
}

.cbp-hsmenu > li {
	margin-left: 1.1em;
	display: inline-block;
}

.cbp-hsmenu > li:first-child {
	margin-left:0;
}

/* Main menu link style */
.cbp-hsmenu > li > a {
	color: rgb(21,71,52);
	font-weight: 600;
	padding: 1em 0 1em;
	line-height: 3em;
	display: inline-block;
	position: relative;
	z-index: 10000;
	text-decoration: none;
}

.cbp-hsmenu > li > a span {
    border-bottom: 1px solid #e7a614;
    display: block;
    margin-top: -13px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.no-touch .cbp-hsmenu > li > a:hover span {
    border-bottom: 1px solid rgb(111, 191, 75);
}


.no-touch .cbp-hsmenu > li > a:hover {
	color: rgb(21, 155, 66);
}

/* Add an arrow to the main menu link if it has a submenu (not the only child)
.cbp-hsmenu > li > a:not(:only-child):before {
	display: inline-block;
	font-family: 'bpmenu';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	content: "\f107";
	font-size: 80%;
	margin-right: 0.3em;
	opacity: 0.4;
	vertical-align: middle;
}

.cbp-hsmenu > li.cbp-hsitem-open > a:not(:only-child):before {
	content: "\f106";
}

 */

/* Add a triangle to currently open menu item link */
.cbp-hsmenu > li.cbp-hsitem-open > a:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-top-color: #134937;
	border-width: 10px;
	left: 50%;
	margin-left: -10px;
}

/* Submenu style */
.cbp-hssubmenu {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	z-index: 0;
	text-align: center; /* for aligning the sub items */
	visibility: hidden;
}

.cbp-hssubmenu:before, 
.cbp-hssubmenu:after { 
	content: " "; 
	display: table; 
}
.cbp-hssubmenu:after { 
	clear: both; 
}

/* Let's allow 6 item in a row */
.cbp-hssubmenu > li {
	width: 16.2%;
	display: inline-block;
	vertical-align: top;
	box-shadow: -28px 0 0 -27px #ddd, 0 -28px 0 -27px #ddd;
	opacity: 0;
	-webkit-transition: opacity 0.1s 0s;
	-moz-transition: opacity 0.1s 0s;
	transition: opacity 0.1s 0s;
}

.cbp-hssubmenu > div {
	opacity: 0;
	-webkit-transition: opacity 0.1s 0s;
	-moz-transition: opacity 0.1s 0s;
	transition: opacity 0.1s 0s;
}

/* First 6 items don't have upper box shadow */
.cbp-hssubmenu > li:nth-child(-n+6) {
	box-shadow: -28px 0 0 -27px #ddd;
} 

/* Every 7th item does not have a left box shadow */
.cbp-hssubmenu > li:nth-child(6n+1) {
	box-shadow:  0 -28px 0 -27px #ddd;
}

/* The first one does not have any box shadow */
.cbp-hssubmenu > li:first-child {
	box-shadow: none;
}

.cbp-hssubmenu > li a {
	display: block;
	text-align: center;
	color: #a2a2a2;
	outline: none;
	padding: 2em 1em 1em 1em;
}

.no-touch .cbp-hssubmenu > li a:hover,
.no-touch .cbp-hssubmenu > li a:focus {
	color: #888;
}

.cbp-hssubmenu > li a img {
	border: none;
	outline: none;
	display: inline-block;
	margin: 0;
	max-width: 100%;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.no-touch .cbp-hssubmenu > li a:hover img {
	opacity: 0.5;
}

.cbp-hssubmenu > li a span {
	display: block;
	min-height: 3em;
	margin-top: 0.4em;
}

.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu {
	z-index: 1000;
	visibility: visible;
	margin-top: 1px; /* added because of our 1pixel bottom border */
	background-color: #f7f7f7;
}

.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu > li {
	opacity: 1;
	-webkit-transition: opacity 0.5s 0.1s;
	-moz-transition: opacity 0.5s 0.1s;
	transition: opacity 0.5s 0.1s;
}

.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu > div {
	opacity: 1;
	-webkit-transition: opacity 0.5s 0.1s;
	-moz-transition: opacity 0.5s 0.1s;
	transition: opacity 0.5s 0.1s;
}

/* Helper div for animating the background : TODO - bugged for bg resizing. bg color is handled by .cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu */
.cbp-hsmenubg {
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	z-index: 1;
	height: 0px;
}

.no-touch .cbp-hsmenubg {
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}


/* custom mobile / tablet global styles */

.cbp-hsmenu > li > a > .fa,
.cbp-hsmenu > li.contact-mobile {
	display:none;
}

@media screen and (min-width: 61.938em) and (max-width:65em) {
	.cbp-hsmenu > li {
		margin-left: 1em;
	}
}

@media screen and (max-width: 61.938em){
	.cbp-hsmenu-wrapper {
		font-size: 100%;
	}

	.navbar-fixed-top {
		position:relative;
		display:block;
		height:80px;
		border-bottom: 1px solid #ddd;
	}

	.cbp-hsmenu-wrapper .cbp-hsmenu {
		padding: 0;
		display:none;
		padding-top:6em;
		max-width: none;
		width: 100%;
	}

	.cbp-hsmenu-wrapper .cbp-hsmenu.on {
		display:block;
	}

	.cbp-hsmenu > li {
		margin-left: 2.2em;
		display: inline-block;
	}

	.cbp-hsinner {
		border-bottom:0;
	}

	.cbp-hsmenu > li {
		margin-left: 1.5em;
		display: inline-block;
		margin: 0 auto;
		display: block;
	}

	.cbp-hsmenu > li:first-child {
		border-top: none;
	}

	.top-nav-personal {
		box-shadow: inset 0px 3px 3px 0px rgba(0,0,0,0.05);
	}

	.cbp-hsmenu > li > a {
	    display: block;
	    padding: 1.5em 1em;
	    text-align: left;
	    line-height: 1em;
	    border-bottom: 1px solid #0e382a;
	    background: #124836;
	    color:#fff;
	}

	.cbp-hsmenu > li > a > .fa {
		display:inline-block;
		float:right;
	}

	.cbp-hsmenu > li > a:not(:only-child):before {
		line-height: 1.8;
		right: 0;
		position: absolute;
		font-size: 200%;
	}

	.cbp-hsmenubg {
		display: none;
	}

	.cbp-hssubmenu {
		background: #f7f7f7;
		position: relative;
		overflow: hidden;
		height: 0;
	}

	.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu {
		height: auto;
	}

	/* Let's only allow 3 item in a row now */
	.cbp-hssubmenu > li {
		width: 30%;
	}

	/* Reset box shadows for the 6 items in row case */
	.cbp-hssubmenu > li:nth-child(-n+6),
	.cbp-hssubmenu > li:nth-child(6n+1) {
		box-shadow: -28px 0 0 -27px #ddd, 0 -28px 0 -27px #ddd;
	}

	/* First 4 items don't have upper box shadow */
	.cbp-hssubmenu > li:nth-child(-n+3) {
		box-shadow: -28px 0 0 -27px #ddd;
	} 

	/* Every 5th item does not have a left box shadow */
	.cbp-hssubmenu > li:nth-child(3n+1) {
		box-shadow:  0 -28px 0 -27px #ddd;
	}

	.cbp-hsmenu > li > a span {
		display:none;
	}
}

@media screen and (max-width: 47.938em) {

	.mobile-nav {
		left: 140px;
	}

	.navbar-fixed-top {
		height:80px;
	}

	.cbp-hsmenu-wrapper .cbp-hsmenu {
		padding-top:5em;
	}

	.cbp-hsmenu > li.contact-mobile {
		display:block;
	}

	.no-touch .cbp-hsmenu > li > a:hover {
		color: rgb(255, 255, 255)
	}

	.cbp-hsmenu > li {
		border-top: 1px solid #175f47;
		text-align: center;
		margin: 0 auto;
		display: block;
	}
}

@media screen and (max-width: 30em) {

	.mobile-nav {
		left: 107px;
	}
}

@media screen and (max-width: 25em){
	/* Let's only allow 1 item in a row now */
	.cbp-hssubmenu > li {
		width: 100%;
		display: block;
	}

	.cbp-hsmenu-wrapper .cbp-hssubmenu > li {
		box-shadow: 0 1px #cecece;
		text-align: left;
	}

	.cbp-hssubmenu > li a {
		text-align: left;
		line-height: 50px;
		padding: 0.4em 1em;
	}

	.cbp-hssubmenu > li a img {
		float: left;
		max-height: 50px;
	}

	.cbp-hssubmenu > li a span {
		min-height: 0;
		margin: 0;
	}
}
