@media screen and (min-width:1px) {

/* form styles */

	h5 {
		line-height:1.4;
	}

	.search-by-lender {
		text-align:center;
		margin-top:5px;
		margin-bottom:1.2em;
		font-size:1.2em;
	}

	.bank-anywhere-icon {
		width:35px;
		margin-right:0.5em;
	}

	.slider.slider-horizontal {
		width:100%;
	}

	.locator .input-group {
    	width: 100%;
	}

	.locator .glyphicon-chevron-down {
	    float: right;
	    margin-top: 4px;
	}

	.inner-addon {
	    position: relative;
	}

	.left-addon .glyphicon {
	    left: 0px;
	}

	.inner-addon .glyphicon {
	    position: absolute;
	    padding: 16px 10px;
	    pointer-events: none;
	    z-index: 10;
	    color: #9f9f9f;
	}

	.locator {
		position:relative;
		background-color: #f7f7f7;
		padding: 0 0 1.5em;
		border-bottom: 1px solid #ddd;
	}

	.locator-title {
		text-align:center;
		margin: 1em 0 0;
	}

	.locator .input-group .form-control {
	    display: block;
	    width: 100%;
	    height: 48px;
	    font-size: 16px;
	    line-height: 1.42857143;
	    color: #333333;
	    background-color: #ffffff;
	    background-image: none;
	    border: 1px solid #cacaca;
	    border-radius: 0;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}

	.locator .input-group-btn>.btn {
		font-weight: bold;
		font-size: 18px;
		letter-spacing: -0.5px;
		position: relative;
		right: 0;
		top: 50%;
		margin-top: 0;
		padding: 10px 26px 11px;
		-webkit-transition: all ease 0.7s;
		-moz-transition: all ease 0.7s;
		transition: all ease 0.7s;
		border: 1px solid #169a43;
	}

	.btn-location-filter {
		padding: 9px 22px 10px;
	}

	.locations {
		background-color: #eaeaea;
	}

	.contact-list>li {
		border: 1px solid #ddd;
		border-radius: 2px;
		margin: 1.75em 0;
		background-color: #fff;
	}

	.contact-list>li:nth-child(2) {
		margin-top:0.5em;
	}

	.contact-list-table {
		display:block;
		width:auto;
		margin: 1em 0;
		background-color:#ffffff;
		border: 1px solid #ddd;
		border-radius: 2px;
	}

	.contact-list-table-cell {
		display:block;
		padding:1em;
		width:auto;
		text-align:center;
	}

	.contact-list-table-cell h4 {
		font-size: 1.1em;
    	font-weight: 600;
    	margin-top: 0;
	}

	.contact-list-table-cell p,
	.contact-list-table-cell li {
		font-size:0.9em;
		margin-bottom:0;
	}

	.contact-list-table-cell li {
		padding: 0;
		border:0;
	}

	.contact-list-table-cell hr {
		border-top: 1px solid #ddd;
		border-bottom:0;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.contact-list-table-cell li:last-child {
		border-bottom:0;
	}

	.contact-list>li.contact-list-hdr {
		border-left: 0;
		background-color: transparent;
		border: 0;
		margin: 0;
		height:auto!important;
	}

	.contact-list>li.contact-list-hdr .contact-list-table-cell {
	    display: table-cell;
	    padding: 0 1em;
	    width: 50%;
	    vertical-align: middle;
	}
}

@media screen and (max-width:479px) {

	.hidden-sm-mobile {
		display:none;
	}

	.contact-list-table {
		display:block;
		width:auto;
	}

	.contact-list-table-cell {
		display:block;
		padding:1em;
		width:auto;
	}
}

@media screen and (max-width:991px) {

	.nav-tabs>li {
	    width: 50%;
	    text-align: center;
	}

	.locator .container {
		width:100%;
	}
}

@media screen and (min-width:992px) {

	.locator {
		padding: 1.5em 1em 1.5em;
	}

	.locator-title {
		text-align:right;
		margin:0;
		margin-top:0;
	}

	.search-by-lender {
		text-align:right;
		margin-top:5px;
		margin-bottom:0;
		font-size:1.2em;
	}
}