@media screen and (min-width: 1px) {

	body {
	    background-color:#f3f3f3;
	    padding-top:0;
	    -webkit-font-smoothing: antialiased;
	    color:#56575a;
	}

	/* Typography */

	@font-face {
	  font-family: 'Segoe UI';
	  src: url('../fonts/segoeui.ttf') format('truetype');
	}

	@font-face {
	  font-family: 'Segoe UI';
	  src: url('../fonts/segoeuib.ttf') format('truetype');
	  font-weight: bold;
	}

	@font-face {
	  font-family: 'Segoe UI';
	  src: url("../fonts/segoeuil.ttf");
	  font-weight: 300;
	}

	body {
	  font-family:'Open Sans', sans-serif;
	  font-size:16px;
	  -webkit-font-smoothing: antialiased;
	}

	h1,h2,h3,h4,h5,.btn {
	  font-family:'Segoe UI', 'Open Sans', sans-serif;
	  /* text-transform:capitalize; */
	}

	/* button */

	.btn-lg {
	    padding: 8px 22px 12px 22px;
	}

	.btn {
	    border-radius: 3px;
	    font-weight: bold;
	    letter-spacing: -0.5px;
	    -webkit-transition: all ease 0.7s;
	    -moz-transition: all ease 0.7s;
	    transition: all ease 0.7s;
	}

	.btn-brand-alt {
	    box-shadow: inset 0 0 0 0 #159b42;
	    border: 2px solid rgb(21, 155, 66);
	    color: rgb(255, 255, 255);
	    background-color: #159b42;
	}

	/* colors */

	.brand-primary {
	  background-color:rgb(21,71,52)!important;
	}

	.brand-primary-c-mid {
	  color: #257b5b;
	}

	.brand-primary-c {
	  color:rgb(21,71,52)!important;
	}

	.brand-primary-light {
	  background-color:rgb(108,194,74)!important;
	}

	.brand-primary-light-c {
	  color:rgb(108,194,74)!important;
	}

	.brand-primary-white {
	  color:rgb(255,255,255)!important;
	}

	.brand-primary-mid {
	  background-color:rgb(21,155,66)!important;
	}

	.brand-primary-mid-c {
	  color:rgb(21,155,66)!important;
	}

	.brand-yellow {
	  color:#e7a614!important;
	}

	.brand-secondary {
	  background-color:rgb(255,225,34)!important;
	}

	.brand-grey {
	  background-color:rgb(100,101,105)!important;
	}

	.brand-grey-c {
	  color:rgb(100,101,105)!important;
	}

	.brand-grey-light {
	  background-color:rgb(225,225,225)!important;
	}

	.brand-grey-very-light {
	  background-color:rgb(236, 236, 236)!important;
	}

	.grey-light-c {
	  color:#a0a0a0!important;
	}

	.grey-dark {
	  background-color:#333!important;
	}

	.grey-dark-c {
	  color:#333!important;
	}

	.grey-mid {
	  background-color:#525252!important;
	}

	.grey-mid-c {
	  color:#555!important;
	}

	.brand-yellow-orange {
	  background-color:#e7a614;
	}

	.brand-yellow-mustard {
	  background-color:#c79119;
	}

	.bg-white {
	  background-color:#ffffff!important;
	}

	.white-c {
	  color:#ffffff!important;
	}

	.muddymint-green {
	  color:#99b58d;
	}

	.light-mint-c {
	  color:#ceffdf
	}

	.black-c {
	  color:#000;
	}

	.brand-gradient-animated {
		background: linear-gradient(to right, #159b42, #154734);
		background-size: 300% 300%;
		-webkit-animation: AnimationName 12s ease infinite;
		-moz-animation: AnimationName 12s ease infinite;
		-o-animation: AnimationName 12s ease infinite;
		animation: AnimationName 12s ease infinite;
	}

	@-webkit-keyframes AnimationName {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@-moz-keyframes AnimationName {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@-o-keyframes AnimationName {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@keyframes AnimationName {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}

	/* utils */

	.relative {
		position:relative;
	}

	.page-header h4 {
	  letter-spacing: 0px;
	  font-size: 20px;
	}

	article h3 {
		letter-spacing: -1px;
	}

	.nav-backdrop {
	  position:fixed;
	  top:0;
	  right:0;
	  bottom:0;
	  left:0;
	  z-index:1;
	  background-color:rgba(0,0,0,0);
	}

	.nav-backdrop.on {
	  display:block;
	}

	.inner-shadow-on-dark-green {
	  -webkit-box-shadow: inset 0px 0px 33px 0px rgba(12,41,30,0.6);
	  -moz-box-shadow: inset 0px 0px 33px 0px rgba(12,41,30,0.6);
	  box-shadow: inset 0px 0px 33px 0px rgba(12,41,30,0.6);
	}

	.flex {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-flex-wrap: wrap;
	  -ms-flex-wrap: wrap;
	  flex-wrap: wrap;
	}

	.flex-important {
	  display: flex!important;
	}

	.justify-content-around {
	    -ms-flex-pack: distribute!important;
	    justify-content: space-around!important;
	}

	.width-0 {
	  width: 0px;
	  overflow: hidden;
	  margin: 0;
	  padding: 0;
	}

	.float-left {
	  float:left;
	}

	.center-aligned {
	  text-align:center!important;
	}

	.right-aligned {
	  text-align:right!important;
	}

	.vertical-center {
	  display: flex;
	  justify-content: center;
	  flex-direction: column;
	  text-align: center;
	}

	.left-aligned {
	  text-align:left!important;
	}

	.m-auto {
	  margin:0 auto!important;
	}

	.m-0 {
	  margin:0!important;
	}

	.m-1 {
	  margin:1em!important;
	}

	.m-2 {
	  margin:2em!important;
	}

	.m-3 {
	  margin:3em!important;
	}

	.m-4 {
	  margin:4em!important;
	}

	.ml-1 {
	  margin-left:1em!important;
	}

	.ml-2 {
	  margin-left:2em!important;
	}

	.mr-1 {
	  margin-right:1em!important;
	}

	.mr-2 {
	  margin-right:2em!important;
	}

	.mt-0 {
	  margin-top:0!important;
	}

	.mb-0 {
	  margin-bottom:0!important;
	}

	.mt-03 {
	  margin-top:0.3em!important;
	}

	.mb-03 {
	  margin-bottom:0.3em!important;
	}

	.mt-05 {
	  margin-top:0.5em!important;
	}

	.mb-05 {
	  margin-bottom:0.5em!important;
	}

	.ml-05 {
	  margin-left:0.5em!important;
	}

	.ml-1 {
	  margin-left:1em!important;
	}

	.ml-2 {
	  margin-left:2em!important;
	}

	.ml-3 {
	  margin-left:3em!important;
	}

	.mr-05 {
	  margin-right:0.5em!important;
	}

	.mt-1 {
	  margin-top:1em!important;
	}

	.mb-1 {
	  margin-bottom:1em!important;
	}

	.mt-2 {
	  margin-top:2em!important;
	}

	.mb-2 {
	  margin-bottom:2em!important;
	}

	.mt-3 {
	  margin-top:3em!important;
	}

	.mb-3 {
	  margin-bottom:3em!important;
	}

	.mt-4 {
	  margin-top:4em!important;
	}

	.mb-4 {
	  margin-top:4em!important;
	}

	.p-0 {
	  padding:0em!important;
	}

	.p-05 {
	  padding:0.5em!important;
	}

	.p-1 {
	  padding:1em!important;
	}

	.p-2 {
	  padding:2em!important;
	}

	.p-3 {
	  padding:3em!important;
	}

	.p-4 {
	  padding:4em!important;
	}

	.p-5 {
	  padding:5em!important;
	}

	.p-6 {
	  padding:6em!important;
	}

	.pr-0 {
	  padding-right:0em!important;
	}

	.pl-0 {
	  padding-left:0em!important;
	}

	.pr-1 {
	  padding-right:1em!important;
	}

	.pr-2 {
	  padding-right:2em!important;
	}

	.pl-1 {
	  padding-left:1em!important;
	}

	.pl-2 {
	  padding-left:2em!important;
	}

	.pt-1 {
	  padding-top:1em!important;
	}

	.pb-05 {
	  padding-bottom:0.5em!important;
	}

	.pb-1 {
	  padding-bottom:1em!important;
	}

	.pt-2 {
	  padding-top:2em!important;
	}

	.pb-2 {
	  padding-bottom:2em!important;
	}

	.pt-3 {
	  padding-top:3em!important;
	}

	.pb-3 {
	  padding-bottom:3em!important;
	}

	.pt-4 {
	  padding-top:4em!important;
	}

	.pb-4 {
	  padding-bottom:4em!important;
	}

	.fw-300 {
	  font-weight:300!important;
	}

	.fw-400 {
	  font-weight:400!important;
	}

	.fw-500 {
	  font-weight:500!important;
	}

	.fw-600 {
	  font-weight:600!important;
	}

	.fw-800 {
	  font-weight:800!important;
	}

	.block {
	  display:block!important;
	}

	.inline-block {
	  display:inline-block!important;
	}

	/* page header */

	.page-header {
	    padding-bottom: 0;
	    margin: 0;
	    border-bottom: 0;
	    padding: 2em 0em;
	    border-bottom: 1px solid #e6e6e6;
	    border-top: 1px solid #e6e6e6;
	    background-color: #f7f7f7;
	}

	.page-header h1 {
	    font-size: 2em;
	    margin: 0;
	}

	.page-header h4 {
	    letter-spacing: 0px;
	    font-size: 20px;
	}

	/* top strip */

	.top-strip {
		display:table;
		width:100%;
	}

	.apply, .get-approved, .movein {
	    display: table-cell;
	    padding: 1em 0;
	    vertical-align: middle;
		color:#ffffff;
		font-weight:800;
	    text-align: center;
	    text-transform:uppercase;
	    position: relative;
	}

	.apply {
		width:auto;
	}

	.get-approved {
		width:auto;
	}

	.movein {
		width:auto;
	}

	.apply:before,
	.get-approved:before,
	.movein:before {
	    content: '';
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    -webkit-transform: skewX(-0deg);
	    -moz-transform: skewX(-15deg);
	    -ms-transform: skewX(-15deg);
	    -o-transform: skewX(-15deg);
	    transform: skewX(-15deg);
	    z-index:-1;
	}

	.apply:before {
	    background: #154734;
	    background: rgb(21,71,52)!important;	}

	.get-approved:before {
	    background: #159b42;
		background: rgb(21,155,66);
	}

	.movein:before {
	    background: #6cc14a;
	    background: rgb(108, 193, 74);
	}

	article p {
		line-height:1.5em;
	}

	article li {
		padding:0.25em 0;
	}

	article li img {
		margin-right:1em;
	}

	.logos {
	    display: block;
	    width: 100%;
	    margin: 0 auto;
	    text-align: center;
	}

	.logo {
	    display: inline-block;
	    text-align: center;
	    vertical-align: middle;
	    padding: 1em;
	}

	hr {
		border-top: 1px solid #144836;
	}

	.small {
		line-height:20px;
	}

	.aside-wrapper {
	    width: 100%;
	    position: relative;
	    margin-top: 4em;
	}

	aside {
		background-color: #fff;
	    padding: 1em;
		-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.10);
		-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.10);
		box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.10);
	}

	aside:before {
	    content: '';
	    position: absolute;
	    left: 0;
	    top: 0;
		width: 100%;
		height: 15px;
		margin-top:0;
		margin-left:0;
		overflow:hidden;
		background:url('../images/loan-images/strip.png');
		background-position:center;
		background-repeat:no-repeat;
		background-size:cover;
	    -webkit-transform: skewX(0deg);
	    -moz-transform: skewX(0deg);
	    -ms-transform: skewX(0deg);
	    -o-transform: skewX(0deg);
	    transform: skewX(0deg);
	}

	/* BS restes */

	.input-group-addon {
	    color: #696a6d;
	    background-color: #eee;
	}

	.form-control {
	    color: #535456;
	    background-color: #f7f7f7;
	    background-image: none;
	    border: 1px solid #ccc;
	    border-radius: 1px;
		-webkit-box-shadow:none;
		box-shadow: none;
	}

}

@media screen and (min-width: 768px) {

	.page-header h1 {
	    font-size: 3.2em;
	    margin: 0;
	   	letter-spacing: -2px;
	}

	.page-header p {
	    max-width: 700px;
	}

	p.p-large {
	    font-size: 1.3em;
	}

	.apply, .get-approved, .movein {
		display:table-cell;
		padding:1.2em;
		text-align:center;
		position: relative;
		color:#ffffff;
		font-weight:800;
		text-transform:uppercase;
	}

	.apply {
		width:45%;
	}

	.get-approved {
		width:30%;
	}

	.movein {
		width:25%;
	}

	.logos {
		display: table;
		width: 100%;
	}

	.logo {
		display:table-cell;
		text-align:middle;
		vertical-align:middle;
		padding:1em;
	}

	aside:before {
	    content: '';
	    position: absolute;
	    left: 0;
	    top: 0;
		width: 100%;
		height: 15px;
		margin-top: -15px;
		margin-left: 2px;
		background:url('../images/loan-images/strip.png');
		background-position:center;
		background-repeat:no-repeat;
		background-size:cover;
	    -webkit-transform: skewX(-15deg);
	    -moz-transform: skewX(-15deg);
	    -ms-transform: skewX(-15deg);
	    -o-transform: skewX(-15deg);
	    transform: skewX(-15deg);
	}
}

@media screen and (min-width: 992px) {

	.page-header {
	    padding: 2em 1em;
	}
}

@media screen and (min-width:1200px) {

	.rarr {
	    width: 75%;
    	margin-top: 1.5em;
	}

	.aside-wrapper {
		width: 350px;
		position: absolute;
		right: 0;
		margin-top: -225px;
	}
}