@media screen and (min-width:1px) {

	.staff-card-body-header {
		display:table;
		margin: 0 auto;
	}

	.staff-card-body-table-cell {
		display: table-cell;
		vertical-align: middle;
		padding: 20px 0 0 0;
	}

	.staff-card-body-table-cell h3 {
		margin:0;
	}

	.search-by-lender {
		text-align:center;
		margin-top:5px;
		margin-bottom:1.2em;
		font-size:1.2em;
	}

	.bank-anywhere-icon {
		width:35px;
		margin-right:0.5em;
	}

	.slider.slider-horizontal {
		width:100%;
	}

	.nav-tabs {
		border-bottom:0;
		margin-top:1.5em;
	}

	.nav.loc-tabs .open>a, .nav.loc-tabs .open>a:hover, .nav.loc-tabs .open>a:focus, .nav.loc-tabs>li>a:hover, .nav.loc-tabs>li>a:focus {
	    border-bottom: 1px solid #dddddd;
	    background: #ffffff;
	    color: #595959;
	}

	.locator .input-group {
    	width: 100%;
	}

	.locator .glyphicon-chevron-down {
	    float: right;
	    margin-top: 4px;
	}

	.inner-addon {
	    position: relative;
	}

	.left-addon .glyphicon {
	    left: 0px;
	}

	.inner-addon .glyphicon {
	    position: absolute;
	    padding: 16px 10px;
	    pointer-events: none;
	    z-index: 10;
	    color: #9f9f9f;
	}

	.locator {
		position:relative;
		background-color: #f7f7f7;
		padding:0;
		border-bottom: 1px solid #ddd;
	}

	.locator-title {
		text-align:center;
		margin: 1em 0 0;
	}

	.locator .input-group .form-control {
	    display: block;
	    width: 100%;
	    height: 48px;
	    font-size: 16px;
	    line-height: 1.42857143;
	    color: #333333;
	    background-color: #ffffff;
	    background-image: none;
	    border: 1px solid #cacaca;
	    border-radius: 0;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}

	.locator .input-group-btn>.btn {
		font-weight: bold;
		font-size: 18px;
		letter-spacing: -0.5px;
		position: relative;
		right: 0;
		top: 50%;
		margin-top: 0;
		padding: 10px 26px 11px;
		-webkit-transition: all ease 0.7s;
		-moz-transition: all ease 0.7s;
		transition: all ease 0.7s;
		border: 1px solid #169a43;
	}

	.btn-location-filter {
		padding: 9px 22px 10px;
	}

	.locations-list .media .btn {
	    position: absolute;
	    right: 0;
	    top: 50%;
	    margin-top: -20px;
	}

	.location-hours {
		text-align:left;
		padding:1em;
	}

	.location-hours li:last-child {
		border-bottom:0;
	}

	.location-hours li {
		font-size: 15px;
		border-bottom: 1px solid #e9e9e9;
		padding: 0.3em 0;
	}

	.location-hours li span {
		float:right;
	}

	.tab-wrapper {
		background-color: #f7f7f7;
		border-bottom: 1px solid #ddd;
	}

	.btn-card-wrapper {
		padding:0 2em 0 2em;
	}

	.staff-card h3 {
    	font-size: 1.3em;
	}

	.btn-card {
	    box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0);
	    border: 2px solid rgb(233, 233, 233);
	    color: rgb(22, 154, 67);
	    background-color: transparent;
	}

	.btn-card:hover,
	.btn-card:active,
	.btn-card:focus {
		border: 2px solid rgb(108, 193, 74);
	}

	.locations {
		background-color: #eaeaea;
	}

	.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	    background-color: #eaeaea;
	}

	.btn-brand-alt.btn-map,
	.btn-brand-alt.btn-map:hover,
	.btn-brand-alt.btn-map:active,
	.btn-brand-alt.btn-map:focus {
		font-size:16px;
	}
}

@media screen and (max-width:991px) {

	.nav-tabs>li {
	    width: 50%;
	    text-align: center;
	}

	.locator .container {
		width:100%;
	}
}

@media screen and (min-width:768px) {

}

@media screen and (min-width:992px) {

	.locator {
		padding: 1.5em 1em 0;
	}

	.locator-title {
		text-align:right;
		margin:0;
		margin-top:0;
	}

	.search-by-lender {
		text-align:right;
		margin-top:5px;
		margin-bottom:0;
		font-size:1.2em;
	}
}
