@media screen and (min-width:320px) {

	html, body {
	    height: 100%;
	    margin: 0;
	}

	footer {
		display:none;
	}

	.tooltip {
		padding:1em;
	}

	.tooltip-inner {
		color:#fff;
		font-weight:600;
		font-size:1.2em;
		border-radius:6px;
		background-color:rgba(21, 73, 54, 1);
		text-align:left;
	}

	.tooltip.top .tooltip-arrow {
	  	border-top-color:rgba(21, 73, 54, 1);
	}

	.locations-list li.breadcrumb-li:hover {
		background-color:transparent;
	}

	.locations-list .breadcrumb {
	    background-color:transparent;
	    margin-bottom: 0;
	    font-size: 80%;
	}

	.locations-list .breadcrumb li {
	    background-color: transparent;
	    border-bottom: 0;
	    color: #333;
	}

	.loc-tabs.nav-tabs {
		border-bottom:0;
	}

	.loc-tabs.nav-tabs>li.active>a {
		background-color:#154738;
		color:#ffffff;
	}

	.nav.loc-tabs>li>a,
	.nav.locloc-tabs>li>a:hover,
	.nav.loc-tabs>li>a:focus {
	    text-decoration: none;
		background-color: #f3f3f3;
		color: #124836;
	    border: 1px solid transparent;
	}

	.loc-tabs.nav-tabs>li.active>a,
	.loc-tabs.nav-tabs>li.active>a:hover,
	.loc-tabs.nav-tabs>li.active>a:focus {
		background-color:#f3f3f3;
		color:#169a43;
		border: 1px solid transparent;
	}

	.map-dot {
		background-color: #124735;
		color: #fff;
		text-align: center;
		display: block;
		border-radius: 100%;
		padding-top: 6px;
		font-size: 16px;
		font-weight: 600;
		width: 35px;
		height: 35px;
	}

	.btn-brand-alt.btn-map,
	.btn-brand-alt.btn-map:hover,
	.btn-brand-alt.btn-map:active,
	.btn-brand-alt.btn-map:focus {
		font-size:16px;
	}

	/* hours */

	.branch-hours li {
		padding: 0.3em 0;
		border-bottom: 1px solid #e1e1e1;
		display: block;
	}

	.hours-hours {
		float:right;
	}

	.branch-hours li:last-child {
	    border-bottom: 0;
	}

	/* location list */

	.location-list {
	    width: 100%;
	    padding-bottom: 1em;
	    transition: all 300ms ease;
	}

	.location-list {
	    border: 1px solid #e7e7e7;
	    border-bottom: 0;
	    border-top:0;
	    margin-bottom:0;
		font-size:1em;
	}

	.locations-list .location {
		border-bottom: 1px solid #ddd;
	}

	.location-list li {
		border-bottom: 1px solid #e9e9e9;
		background-color:#f7f7f7;
	}

	.location-list li:last-child {
		border-bottom: 0;
	}

	.location-list li.active {
		background-color:#ffffff;
		color:rgb(21,71,52);
	}

	.location-list li {
		display:block;
		padding: 1em;
		color:rgb(100,101,105);
	}

	.locations-list .media {
		position: relative;
		padding: 0.5em;
		font-size: 95%;
	}

	.locations-list .media-body {
		position: relative;
		display: table-cell;
	}

	.locator .input-group {
		width:100%;
	}

	.locator .input-group-btn>.btn {
		font-weight: bold;
		font-size:18px;
		letter-spacing: -0.5px;
		position: relative;
		right: 0;
		top: 50%;
		margin-top: 0;
		padding:10px 26px;
		-webkit-transition: all ease 0.7s;
		-moz-transition: all ease 0.7s;
		transition: all ease 0.7s;
	}

	.locator .input-group .form-control {
	    display: block;
	    width: 100%;
	    height: 48px;
	    font-size: 16px;
	    line-height: 1.42857143;
	    color: #333333;
	    background-color: #f3f3f3;
	    background-image: none;
	    border: 1px solid #f3f3f3;
	    border-radius: 0;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}

	.locator .glyphicon-chevron-down {
		float: right;
		margin-top: 4px;
	}

	.locations-list .media .btn {
		position:absolute;
		right:0;
		top:50%;
		margin-top:-20px;
	}

	.location-list li:hover {
		background-color:#fff;
		color:rgb(21,71,52);
	}

	.locations-list .btn-location-filter:active,
	.locations-list .btn-location-filter:focus {
		border-color:transparent;
	}

	.loc-list-dropdown {
		width:100%;
	}

	.loc-tabs li {
		text-align:center;
		width: 50%;
	}

	.loc-tabs-wrapper.affix {
		top:0;
		width: 100%;
		background-color: #ffffff;
		z-index:1;
		-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
		box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
	}

	.loc-tabs-wrapper.affix .blog-tabs {
		border-bottom:0;
	}

	.loc-tabs-placeholder {
		display:none;
	}

	/* css to add search icon in input */

	/* enable absolute positioning */
	.inner-addon { 
		position: relative; 
	}

	/* style icon */
	.inner-addon .glyphicon {
		position: absolute;
		padding: 16px 10px;
		pointer-events: none;
		z-index: 10;
		color: #9f9f9f;
	}

	/* align icon */
	.left-addon .glyphicon  { left:  0px;}
	.right-addon .glyphicon { right: 0px;}

	/* add padding  */
	.left-addon input  { padding-left:  30px; }
	.right-addon input { padding-right: 30px; }


	/* distance slider */
	.slider.slider-horizontal {
	    width: 100%;
	    height: 20px;
	}

	.slider-track {
	    position: absolute;
	    cursor: pointer;
	    background-image: -webkit-linear-gradient(top,#e4e4e4 0,#efefef 100%);
	    background-image: linear-gradient(to bottom,#e4e4e4 0,#efefef 100%);
	}

	.slider-handle {
	    background-color: #169a43;
	    background-image: -webkit-linear-gradient(top,#169a43 0,#169a43 100%);
		background-image: linear-gradient(to bottom,#169a43 0,#169a43 100%);
	}

	.slider-selection {
	    position: absolute;
	    background-image: -webkit-linear-gradient(top,#e6e6e6 0,#f5f5f5 100%);
	    background-image: -o-linear-gradient(top,#e6e6e6#e6e6e6 0,#f5f5f5 100%);
	    background-image: linear-gradient(to bottom,#e6e6e6 0,#f5f5f5 100%);
	}
}

@media screen and (min-width:480px) {

	.location-list {
		font-size:1.2em;
	}
}

@media screen and (min-width:768px) {

	#map {
		margin: 1em;
	}

	.locations-list .media .btn {
		position: relative;
		right: auto;
		top: auto;
		margin-top: 0;
		background-color: #124836;
		color: #ffffff;
		margin-top: 1em;
	}

	.locations-list .location {
		border-bottom: 0;
	}

}

@media screen and (min-width:768px) and (max-width:991px) {

	.locations-list {
		text-align:center;
		margin-top:1em;
	}

	.locations-list li.location {
		display: inline-block;
		width: 42.5%;
	}

	.locations-list .media-body {
		position: relative;
		display: inline;
	}

	.locations-list .media {
	    position: relative;
	    padding: 0.5em;
	    font-size: 95%;
	    display: inline-block;
	    text-align: left;
	    margin-top: 1em;
	}

	.locations-list .media .media-left {
		height:50px;
	}

}

@media screen and (min-width:992px) {

	#map {
		margin:0;
	}

	.location-list  {
		font-size:1em;
	}

	.loc-sidenav {
		width:450px;
		display: block;
	    height: 100%;
	    position: fixed;
	}

	#mapPanel{
		margin-left:450px;
	}

	.locations {
		position: absolute;
	    top: 0;
	    background-color: #ffffff;
	    height: 100%;
	    color: #fff;
	    display: inline-block;
	    overflow: hidden;
	    margin: 0;
	    width: 100%;
	    -webkit-transform: translate(0, 0);
	    transform: translate(0, 0);
	    transition: -webkit-transform 200ms;
	    transition: transform 200ms;
	    transition: transform 200ms, -webkit-transform 200ms;
	    will-change: transform;
	}

	.locations-list {
		height: 100%;
	    overflow-y: auto;
	}

	.locations-list {
	    border: 1px solid #e7e7e7;
	    border-bottom: 0;
	    border-top:0;
	    margin-bottom:0;
	}

	.locations-list li:last-child {
		border-bottom: 0;
	}

	.locations-list>li {
		display:block;
		padding:0.5em;
		color:rgb(100,101,105);
		border-bottom: 1px solid #e9e9e9;
	}

	.locations-list>li:hover {
		background-color:#f0f3f2;
		color:rgb(21,71,52);
	}

	.locations-list .media .btn {
		position:absolute;
		right:0;
		top:50%;
		margin-top:-20px;
	}
}

@media screen and (min-width:1200px) {

}
