/* links, global link and button transitions */

body {
    background-color:#ffffff;
    padding-top:0;
    -webkit-font-smoothing: antialiased;
    color:#56575a;
}

a {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  outline:none!important;
}

a {
  color:rgb(21,155,66);
}

a:hover,
a:focus,
a:active {
  color:rgb(21,71,52);
  text-decoration:none!important;
}

/* colors */

.brand-primary {
  background-color:rgb(21,71,52)!important;
}

.brand-primary-c-mid {
  color: #257b5b;
}

.brand-primary-c {
  color:rgb(21,71,52)!important;
}

.brand-primary-light {
  background-color:rgb(108,194,74)!important;
}

.brand-primary-light-c {
  color:rgb(108,194,74)!important;
}

.brand-primary-white {
  color:rgb(255,255,255)!important;
}

.brand-primary-mid {
  background-color:rgb(21,155,66)!important;
}

.brand-primary-mid-c {
  color:rgb(21,155,66)!important;
}

.brand-yellow {
  color:#e7a614!important;
}

.brand-secondary {
  background-color:rgb(255,225,34)!important;
}

.brand-grey {
  background-color:rgb(100,101,105)!important;
}

.brand-grey-c {
  color:rgb(100,101,105)!important;
}

.brand-grey-light {
  background-color:rgb(225,225,225)!important;
}

.brand-grey-very-light {
  background-color:rgb(236, 236, 236)!important;
}

.grey-light-c {
  color:#a0a0a0!important;
}

.grey-dark {
  background-color:#333!important;
}

.grey-dark-c {
  color:#333!important;
}

.grey-mid {
  background-color:#525252!important;
}

.grey-mid-c {
  color:#555!important;
}

.brand-yellow-orange {
  background-color:#e7a614;
}

.brand-yellow-mustard {
  background-color:#c79119;
}

.bg-white {
  background-color:#ffffff!important;
}

.white-c {
  color:#ffffff!important;
}

.muddymint-green {
  color:#99b58d;
}

.light-mint-c {
  color:#ceffdf
}

.black-c {
  color:#000;
}

.brand-gradient-animated {
    background: linear-gradient(to right, #159b42, #154734);
    background-size: 300% 300%;
    -webkit-animation: AnimationName 12s ease infinite;
    -moz-animation: AnimationName 12s ease infinite;
    -o-animation: AnimationName 12s ease infinite;
    animation: AnimationName 12s ease infinite;
  }

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-o-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }

/* utils */

.alert {
  margin-bottom:0;
}

.alert-success {
    background-color: #e8a614;
    border: 0;
    color: #ffffff;
    font-weight: 600;
    border-radius: 0;
    text-align: center;
}

.alert .close {
  top: 0px;
  opacity:1;
}

.page-header h4 {
  letter-spacing: 0px;
  font-size: 20px;
}

.nav-backdrop {
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:9;
  background-color:rgba(0,0,0,0);
}

.nav-backdrop.on {
  display:block;
}

.inner-shadow-on-dark-green {
  -webkit-box-shadow: inset 0px 0px 33px 0px rgba(12,41,30,0.6);
  -moz-box-shadow: inset 0px 0px 33px 0px rgba(12,41,30,0.6);
  box-shadow: inset 0px 0px 33px 0px rgba(12,41,30,0.6);
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-important {
  display: flex!important;
}

.justify-content-around {
    -ms-flex-pack: distribute!important;
    justify-content: space-around!important;
}

.width-0 {
  width: 0px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.float-left {
  float:left;
}

.center-aligned {
  text-align:center!important;
}

.right-aligned {
  text-align:right!important;
}

.vertical-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.left-aligned {
  text-align:left!important;
}

.mt-05px {
  margin-top:5px;
}

.m-auto {
  margin:0 auto!important;
}

.m-0 {
  margin:0!important;
}

.m-1 {
  margin:1em!important;
}

.m-2 {
  margin:2em!important;
}

.m-3 {
  margin:3em!important;
}

.m-4 {
  margin:4em!important;
}

.ml-0 {
  margin-left:0!important;
}

.mr-0 {
  margin-right:0!important;
}

.ml-1 {
  margin-left:1em!important;
}

.ml-2 {
  margin-left:2em!important;
}

.mr-1 {
  margin-right:1em!important;
}

.mr-2 {
  margin-right:2em!important;
}

.mt-0 {
  margin-top:0!important;
}

.mb-0 {
  margin-bottom:0!important;
}

.mt-03 {
  margin-top:0.3em!important;
}

.mb-03 {
  margin-bottom:0.3em!important;
}

.mt-05 {
  margin-top:0.5em!important;
}

.mb-05 {
  margin-bottom:0.5em!important;
}

.ml-05 {
  margin-left:0.5em!important;
}

.ml-1 {
  margin-left:1em!important;
}

.ml-2 {
  margin-left:2em!important;
}

.ml-3 {
  margin-left:3em!important;
}

.mr-05 {
  margin-right:0.5em!important;
}

.mt-1 {
  margin-top:1em!important;
}

.mb-1 {
  margin-bottom:1em!important;
}

.mt-2 {
  margin-top:2em!important;
}

.mb-2 {
  margin-bottom:2em!important;
}

.mt-3 {
  margin-top:3em!important;
}

.mb-3 {
  margin-bottom:3em!important;
}

.mt-4 {
  margin-top:4em!important;
}

.mb-4 {
  margin-bottom:4em!important;
}

.p-0 {
  padding:0em!important;
}

.p-05 {
  padding:0.5em!important;
}

.p-1 {
  padding:1em!important;
}

.p-2 {
  padding:2em!important;
}

.p-3 {
  padding:3em!important;
}

.p-4 {
  padding:4em!important;
}

.p-5 {
  padding:5em!important;
}

.p-6 {
  padding:6em!important;
}

.pr-0 {
  padding-right:0em!important;
}

.pl-0 {
  padding-left:0em!important;
}

.pr-1 {
  padding-right:1em!important;
}

.pr-2 {
  padding-right:2em!important;
}

.pl-1 {
  padding-left:1em!important;
}

.pl-2 {
  padding-left:2em!important;
}

.pt-1 {
  padding-top:1em!important;
}

.pb-05 {
  padding-bottom:0.5em!important;
}

.pb-1 {
  padding-bottom:1em!important;
}

.pt-2 {
  padding-top:2em!important;
}

.pb-2 {
  padding-bottom:2em!important;
}

.pt-3 {
  padding-top:3em!important;
}

.pb-3 {
  padding-bottom:3em!important;
}

.pt-4 {
  padding-top:4em!important;
}

.pb-4 {
  padding-bottom:4em!important;
}

.fw-300 {
  font-weight:300!important;
}

.fw-400 {
  font-weight:400!important;
}

.fw-500 {
  font-weight:500!important;
}

.fw-600 {
  font-weight:600!important;
}

.fw-800 {
  font-weight:800!important;
}

.block {
  display:block!important;
}

.inline-block {
  display:inline-block!important;
}

.brand-primary-border-btm-5 {
  border-bottom: 5px solid #134837;
}

.stripe {
  background-color: #f7f7f7;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.relative {
  position:relative!important;
}

.no-box-shadow {
  --webkit-box-shadow:none!important;
  box-shadow:none!important;
}

.lead {
  font-size: 1.3em;
  font-weight: 500;
  color: #646569;
}

.uppercase {
  text-transform:uppercase!important;
}

.width-100 {
  width:100%;
}

ul.list-styled {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.list-styled li {
  padding-left: 1em; 
  text-indent: -.7em;
}

ul.list-styled li::before {
  content: "• ";
  color: #159b42;
}

.section-wrapper {
  border-bottom: 1px solid #e6e6e6;
  background-color: #f7f7f7;
}

.mobile-product-carousel-cycle {
  background-color: #ececec;
  border-top: 1px solid #dcdcdc;
}

.mobile-product-carousel-cycle:before {
  content:'';
  -webkit-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.15);
  box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.15);
}

/* new mobile */

.mobile-navbar-toggle {
  float: none;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  margin-top: 8px;
  margin-bottom: 6px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 65px;
  height: 65px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: 0!important;
}

.mobile-navbar-toggle span.icon-bar {
  display: block;
  position: absolute;
  top: 29px;
  left: 15px;
  right: 15px;
  height: 5px;
  width: 50%;
  background: #134735;
  border-radius: 8px;
  transition: background 0s 0.3s;
}

.mobile-navbar-toggle span.icon-bar:before,
.mobile-navbar-toggle span.icon-bar:after {
    position: absolute;
    display: block;
    left: 0;
    width: 135%;
    height: 5px;
    background-color: #159b42;
    content: "";
    border-radius: 8px;
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.mobile-navbar-toggle span.icon-bar:before {
  transition-property: top, transform;
}

.mobile-navbar-toggle span.icon-bar:before {
    top: -10px;
}

.mobile-navbar-toggle span.icon-bar:after {
  transition-property: bottom, transform;
}

.mobile-navbar-toggle span.icon-bar:after{
    bottom: -10px;
}

.mobile-navbar-toggle.is-active span {
  background:none;
}

.mobile-navbar-toggle.is-active span:before {
  top: 0;
  transform: rotate(45deg);
}

.mobile-navbar-toggle.is-active span:after {
  bottom: 0;
  background-color: #124836;
  transform: rotate(-45deg);  
}

.mobile-navbar-toggle.is-active span:before,
.mobile-navbar-toggle.is-active span:after  {
  transition-delay: 0s, 0.3s;
}

.navbar-collapse {
  padding-left:0;
  padding-right:0;
}

.navbar-nav>li>a{
    display: block;
    padding: 1.5em 1em;
    text-align: left;
    line-height: 1em;
    border-bottom: 1px solid #0e382a;
    background: #124836;
    color: #fff;
    font-weight: 600;
}

.navbar-nav>li>a:hover {
  border-bottom: 1px solid #0e382a;
  background: #124836;
  color: #159b42;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus,
.nav>li>a:hover, .nav>li>a:focus {
  border-bottom: 1px solid #0e382a;
  background: #124836;
  color: #fff;
}

li.dropdown-submenu.open>a.dropdown-toggle,
li.dropdown-submenu.open>a.dropdown-toggle:hover,
li.dropdown-submenu.open>a.dropdown-toggle:focus {
      background-color: #f7f7f7;
      border-bottom: 1px solid #e6e6e6;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height:none;
}

.navbar-nav .open .dropdown-menu>li>a {
  color:#159b42;
  padding:1.5em 1em;
}

.navbar-nav .open .dropdown-menu .dropdown-header {
  background-color: #ececec;
  font-size: 1.2em;
  padding: 1.5em 1em;
  color: #124937;
  font-weight: 600;
}

.dropdown-menu>li>a {
  line-height: 1.42857143;
  white-space: nowrap;
  background-color: #efefef;
  font-size: 1.2em;
  font-weight: 600;
  border-bottom: 1px solid #dedede;
  white-space:normal;
}

.navbar-nav>li {
  border-top: 1px solid #175f47;
}

li.dropdown.open>a:after {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #134937;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
}

.navbar-nav .open .dropdown-submenu>.dropdown-menu>li>a {
  padding:1.5em 2em;
}

a.dropdown-toggle>.fa {
    display: inline-block;
    float: right;
}

.mobile-nav-promo {
  display:none;
}

li.dropdown.open>.mobile-nav-promo {
  display:block;
}

/* blog category */

.blog-category article .card a {
  font-weight: 500;
  line-height: 1.4em;
  color:#333;
}

.load {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  display: block;
}

@media screen and (max-width:480px) {
 .hidden-xxs {
    display:none!important;
  }
}

@media screen and (max-width:767px) {

  .pt-xs-075 {
    padding-top:0.75em;
  }

  .pt-xs-1 {
    padding-top:1em;
  }

  .pt-xs-2 {
    padding-top:2em;
  }

  .pb-xs-1 {
    padding-bottom:1em;
  }

  .mt-xs-2 {
    margin-top:2em;
  }

  .mb-xs-2 {
    margin-bottom:2em;
  }

  .pt-xs-2 {
    padding-top:2em;
  }

  .pb-xs-2 {
    padding-bottom:2em;
  }

  .mt-xs-1 {
    margin-top:1em;
  }

  .mb-xs-1 {
    margin-bottom:1em;
  }

  .mb-xs-3 {
    margin-bottom:3em;
  }
}

@media screen and (min-width:1px) and (max-width:479px) {
  .col-xxs-12 {
    width:100%;
  }

  .hidden-xxs {
    display:none;
  }
}

@media screen and (min-width:768px) and (max-width:992px) {
 .sm-fluid {
    width:100%;
  }

  .pt-sm-2 {
    padding-top:2em;
  }

 .sm-pt-075 {
    padding-top:0.75em;
  }

 .sm-pt-1 {
    padding-top:1em;
  }

 .sm-pb-1 {
    padding-bottom:1em;
  }

 .sm-mt-0 {
    margin-top:0;
  }

 .sm-mt-1 {
    margin-top:1em;
  }

}

@media screen and (min-width:992px) and (max-width:1200px) {
 .md-pt-1 {
    padding-top:1em;
  }

 .pt-md-2 {
    padding-top:2em;
  }

 .md-pb-1 {
    padding-bottom:1em;
  }

 .md-fluid {
    width:100%;
  }

  .md-mt-3 {
    margin-top:3em;
  }
}

@media screen and (min-width:1200px) {
  .lg-mt-3 {
    margin-top:3em;
  }
}

/* Flex utils to fix !@# safari and older android needing explicit sizes on flex objects
https://stackoverflow.com/questions/29986668/flex-wrap-not-working-as-expected-in-safari/44046734#44046734
*/

@media screen and (min-width:1px) {
  .flex .col-xs-12,
  .flex .col-xs-12,
  .flex .col-xs-12 {
    flex-basis:100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    flex-basis: 99.499%;
  }
  .flex .col-xs-6,
  .flex .col-xs-6,
  .flex .col-xs-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    flex-basis: 49.5%;
  }
}

@media screen and (min-width:768px) {
  .flex .col-sm-6,
  .flex .col-md-6,
  .flex .col-lg-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    flex-basis: 49.5%;
  }
}

@media screen and (min-width:1200px) {
  .flex .col-lg-4,
  .flex .col-lg-4,
  .flex .col-lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    flex-basis:33.2999%;
  }
  .flex .col-lg-3,
  .flex .col-lg-3,
  .flex .col-lg-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    flex-basis:24.949999%;
  }
}

/* Typography */

@font-face {
  font-family: 'Segoe UI';
  src: url('fonts/segoeui.ttf') format('truetype');
}

@font-face {
  font-family: 'Segoe UI';
  src: url('fonts/segoeuib.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Segoe UI';
  src: url("fonts/segoeuil.ttf");
  font-weight: 300;
}

body {
  font-family:'Open Sans', sans-serif;
  font-size:16px;
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,.btn {
  font-family:'Segoe UI', 'Open Sans', sans-serif;
  /* text-transform:capitalize; */
}

h1 {
  font-size: 4em;
  font-weight: bold;
  line-height: 1em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 3em;
  font-weight: bold;
  line-height: 1em;
  letter-spacing: -2px;
}

h3 {
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
  letter-spacing: -1px;
}

h4 {
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1em;
  letter-spacing: -0.5px;
}

hr {
  border-bottom:3px solid #333;
}

hr.thin {
  border-bottom:1px solid #e6e6e6;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  line-height: 1.5em;
  color: #56575a;
}

.font-weight-300 {
  font-weight:300;
}

/* buttons */

.btn {
  border-radius:3px;
  font-weight:bold;
  letter-spacing: -0.5px;
  -webkit-transition: all ease 0.7s;
  -moz-transition: all ease 0.7s;
  transition: all ease 0.7s;
  padding:6px 12px 8px;
}

.btn-simple {
  border: 2px solid #159b42;
  color: #ffffff;
  background-color: #159b42
}

.btn-lg {
  padding: 10px 22px 14px;
}

/* buttons on white */

.btn-brand {
  box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0);
  border: 2px solid rgb(21, 155, 66);
  color: rgb(21, 155, 66);
  background-color: transparent;
}

.btn-brand:hover,
.btn-brand:active,
.btn-brand:focus {
  border: 2px solid rgb(108,194,74);
  color: rgb(255, 255, 255);
  background-image: none;
  outline: 0;
  box-shadow: inset 0 100px 0 0 #6cc24a;
  color: #FFF;
}

.btn-brand-alt {
  box-shadow: inset 0 0 0 0 #159b42;
  border: 2px solid rgb(21, 155, 66);
  color: rgb(255, 255, 255);
  background-color: #159b42;
  font-size:18px;
}

.btn-brand-alt-light-grey {
    color: #169a43;
    background-color: #ffffff;
    border-color: #ffffff;
}

.btn.btn-brand-alt-light-grey:hover,
.btn.btn-brand-alt-light-grey:active,
.btn.btn-brand-alt-light-grey:focus {
    color: #169a43;
    background-color: #ffffff;
    border-color: #ffffff;
}

.btn-brand-alt:hover,
.btn-brand-alt:active,
.btn-brand-alt:focus {
  border: 2px solid rgb(21, 71, 52);
  color: rgb(255, 255, 255);
  background-image: none;
  outline: 0;
  box-shadow: inset 0 100px 0 0 rgb(21,71,52);
  color: #FFF;
  font-size:18px;
}

.btn-brand-alt-II {
  box-shadow: inset 0 0 0 0 #159b42;
  border: 2px solid rgb(21, 155, 66);
  color: rgb(255, 255, 255);
  background-color: #159b42;
}

.btn-brand-alt-II:hover,
.btn-brand-alt-II:active,
.btn-brand-alt-II:focus {
  border: 2px solid rgb(21, 155, 66);
  color: rgb(255, 255, 255);
  background-image: none;
  outline: 0;
  box-shadow: inset 0 100px 0 0 rgb(21,71,52);
  color: #FFF;
}

/* yellow button */

.btn-brand-yellow {
  box-shadow: inset 0 0 0 0 #e7a614;
  border: 2px solid #e7a614;
  color: rgb(255, 255, 255);
  background-color: #e7a614;
  padding: 0.5em 2em 0.6em;
}

.btn-brand-yellow:hover,
.btn-brand-yellow:active,
.btn-brand-yellow:focus {
  border: 2px solid #c79119;
  color: rgb(255, 255, 255);
  background-color:#c79119;
}

/* buttons on grey */

.btn-brand-on-grey {
  box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0);
  border: 2px solid rgb(108, 194, 74);
  color: rgb(255, 255, 255);
  background-color: transparent;
}

.btn-brand-on-grey:hover,
.btn-brand-on-grey:active,
.btn-brand-on-grey:focus {
  border: 2px solid rgb(108,194,74);
  color: rgb(255, 255, 255);
  background-image: none;
  outline: 0;
  box-shadow: inset 0 100px 0 0 #6cc24a;
  color: #FFF;
}

/* buttons on green */

.btn-brand-on-green {
  box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0);
  border: 2px solid rgb(108, 194, 74);
  color: rgb(255, 255, 255);
  background-color: transparent;
}

.btn-brand-on-green:hover,
.btn-brand-on-green:active,
.btn-brand-on-green:focus {
  border: 2px solid rgb(108,194,74);
  color: rgb(255, 255, 255);
  background-image: none;
  outline: 0;
  box-shadow: inset 0 100px 0 0 #6cc24a;
  color: #FFF;
}

/* buttons on light green */

.btn-brand-on-light-green {
  box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0);
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  background-color: transparent;
}

.btn-brand-on-light-green:hover,
.btn-brand-on-light-green:active,
.btn-brand-on-light-green:focus {
  border: 2px solid rgb(21, 71, 52);
  color: rgb(255, 255, 255);
  background-image: none;
  outline: 0;
  box-shadow: inset 0 100px 0 0 #154734;
  color: #FFF;
}

/* page header */

.page-header {
    padding-bottom: 0;
    margin: 0;
    border-bottom: 0;
    padding: 2em 0em;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    background-color: #f7f7f7;
}

.page-header-alt {
  background-color: #124736;
  border-bottom: 1px solid #124736;
  border-top: 1px solid #124736;
}

.page-header-alt-mid {
  border-bottom: 1px solid #30cd66;
  border-top: 1px solid #107533;
  background-color: rgb(21,155,66)!important;
}

.page-header h1 {
  font-size:2em;
  margin:0;
}

.page-header h2 {
  font-size:2em;
  line-height: 1.2em;
}

.page-header h2,
.page-header h3 {
  margin:0;
}

/* NAVIGATION */

/* article cards */

.nav-wrapper .card {
  width: 20%;
  display: inline-block;
  margin: 1em;
}

.nav-wrapper .card img {
  padding-bottom: 0.7em;
}

.nav-wrapper .card a {
  color:#144736;
}

/* product detail icon */

.product-detail-icon {
  padding: 2em;
  background-color: #f7f7f7;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.15);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.15);
}

.left-green-border-wrapper {
    border-left: 2px solid #159b42;
    padding-left: 1em;
    display: inline-block;
    vertical-align: middle;
}

/* icon sprite */

a.product-icon-wrapper {
  text-align: center;
  display: inline-block;
  padding: 2em 1.2em;
  font-weight: 600;
  vertical-align: top;
}

a.product-icon-wrapper span {
  font-size: 80%;
  display:block;
}

a.product-icon-wrapper:hover,
a.product-icon-wrapper:focus {
  text-decoration:none;
}

span.product-icon {
  display:block;
  overflow:hidden;
  margin: 0 auto;
  background-image: url(images/icon-sprite.png);
  transform: scale(0.75);
  -moz-transform-origin: 0;
}

.product-icon.product-icon-checking {
  width: 70px;
  height: 70px;
  background-position: 0 0;
}

.product-icon.product-icon-credit-card {
  background-position: -70px 0px;
  width: 70px;
  height: 70px;
}

.product-icon.product-icon-atm-debit-card {
  width: 70px;
  height: 70px;
  background-position: -133px 0px;
}

.product-icon.product-icon-savings {
    width: 70px;
    height: 70px;
    background-position: -405px 0;
}

.product-icon.product-icon-mortgage {
    width: 70px;
    height: 70px;
    background-position: 2px -63px;
}

.product-icon.product-icon-business-loans {
    width: 70px;
    height: 70px;
    background-position: -271px -65px;
}

.product-icon.product-icon-bank {
    width: 70px;
    height: 70px;
    background-position: -270px -135px;
}

.product-icon.product-icon-business-savings {
    width: 70px;
    height: 70px;
    background-position: 2px -63px;
}

.product-icon.product-icon-business-leasing {
    width: 70px;
    height: 70px;
    background-position: -475px -133px;
}

.product-icon.product-icon-brokerage {
    width: 70px;
    height: 70px;
    background-position: 2px -63px;
}

.product-icon.product-icon-investments {
    width: 70px;
    height: 70px;
    background-position: 2px -63px;
}

.product-icon.product-icon-cd-ira {
    width: 70px;
    height: 70px;
    background-position: 2px -63px;
}

.product-icon.product-icon-trust-investments {
    width: 70px;
    height: 70px;
    background-position: -201px -65px;
}

.product-icon.product-icon-business-savings {
    width: 70px;
    height: 70px;
    background-position: -66px -65px;
}

.product-icon.product-icon-business-services {
    width: 70px;
    height: 70px;
    background-position: -475px -65px;
}

.product-icon.product-icon-brokerage {
    width: 70px;
    height: 70px;
    background-position: -68px -270px;
}

.product-icon.product-icon-wealth-builder {
    width: 70px;
    height: 70px;
    background-position: -202px -270px;
}

.product-icon.product-icon-investments {
    width: 70px;
    height: 70px;
    background-position: -135px -270px;
}

.product-icon.product-icon-anytime-banker {
    width: 70px;
    height: 70px;
    background-position: -67px -134px;
}

.product-icon.product-icon-mobile-deposit {
    width: 70px;
    height: 70px;
    background-position: 0px -130px;
}

.product-icon.product-icon-anytime-banker {
    width: 70px;
    height: 70px;
    background-position: -65px -130px;
}

.product-icon.product-icon-cesa {
    width: 70px;
    height: 70px;
    background-position: -66px -199px;
}

.product-icon.product-icon-hsa {
    width: 70px;
    height: 70px;
    background-position: -135px -199px;
}

.product-icon.product-icon-kids {
    width: 70px;
    height: 70px;
    background-position: -272px -5px;
}

.product-icon.product-icon-manage {
    width: 70px;
    height: 70px;
    background-position: -475px -200px;
}

.product-icon.product-icon-learn {
    width: 70px;
    height: 70px;
    background-position: -540px -200px;
}

.product-icon.product-icon-privacy-security {
  width: 70px;
  height: 70px;
  background-position: -203px 0px;
}

.product-icon.product-icon-overdraft-protection {
  width: 70px;
  height: 70px;
  background-position: -340px 4px;
}

.product-icon.product-icon-loan-officers {
  width: 70px;
  height: 70px;
  background-position: -341px -134px;
}

.product-icon.product-icon-personal-loans {
  width: 70px;
  height: 70px;
  background-position: -340px -66px;
}

.product-icon.product-icon-mortgage-specialists {
  width: 70px;
  height: 70px;
  background-position: -541px -133px;
}

.product-icon.product-icon-borrow {
  width: 70px;
  height: 70px;
  background-position: -340px -200px;
}

.product-icon.product-icon-invest {
  width: 70px;
  height: 70px;
  background-position: -408px -200px;
}

.product-icon.product-icon-home-equity {
  width: 70px;
  height: 70px;
  background-position: -406px -126px;
}

.product-icon.product-icon-overdraft-summer-loan {
  width: 70px;
  height: 70px;
  background-position: -203px -133px;
}

.product-icon.product-icon-learning-center {
  width: 70px;
  height: 70px;
  background-position: -205px -205px;
}

.product-icon.product-switch-kit {
  width: 70px;
  height: 70px;
  background-position: -1153px -1px;
}

.product-icon-wrapper .fa-ellipsis-h {
  border: 2px solid #159d49;
  border-radius: 100%;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  padding: 0.1em 0.2em;
}

.subheader-category {

}

/* modal 

.modal-backdrop {
  background-color:#0b4a20;
}

*/

.modal-backdrop.in {
  opacity:0.75;
}

.number-icon {
    width: 50px; 
    font-size: 16px;
    color:#ffffff;
    font-weight:800;
    margin: 0 auto;
}

.number-icon span {
    text-align: center;
    line-height: 50px;
    display: block;
    background-color: #ccc;
    border-radius: 50%;
}

/* search */

.search-field::-webkit-input-placeholder {
    color: #ffffff;
}

.search-field:-moz-placeholder {
    color: #ffffff;
}

.search-field::-moz-placeholder {
    color: #ffffff;
}

.search-field:-ms-input-placeholder {
    color: #ffffff;
}

#accountFinderAlert .close,
#search .close {
    font-size: 30px;
    color: #fff!important;
    border: 0;
    opacity: 1!important;
    outline: none!important;
    position: absolute;
    top: 15px;
    right: 40px;
    height: 60px;
    width: 60px;
    background-color: transparent;
}

#accountFinderAlert .close span,
#search .close span {
display: block;
    position: absolute;
    right: 0;
    height: 2px;
    width: 40px;
    border-radius: 8px;
}

#search .close span:before,
#search .close span:after {
    position: absolute;
    display: block;
    left: 0;
    width: 135%;
    height: 2px;
    background-color: #fff;
    content: "";
    border-radius: 8px;
}

#accountFinderAlert .close span:before,
#accountFinderAlert .close span:after {
    position: absolute;
    display: block;
    left: 0;
    top: 8px;
    width: 135%;
    height: 2px;
    background-color: #e4e4e4;
    content: "";
    border-radius: 8px;
}

#accountFinderAlert .close span:before,
#search .close span:before {
    bottom: 0;
    transform: rotate(-45deg);
}

#accountFinderAlert .close span:after,
#search .close span:after {
    bottom: 0;
    transform: rotate(45deg);
}

#search h3 {
  color: #fff;
  font-weight: 800;
  margin-bottom: 1em;
  letter-spacing: -1px;
}

#search .modal-content {
  box-shadow: none;
  background-color: transparent;
  border: 0;
}

#search .form-control {
  background-color: transparent;
  color: #ffffff;
  border: transparent;
  border-bottom: 2px solid #159b42;
  border-radius: 0;
  box-shadow: none;
}

#search .form-control:focus {
  box-shadow:none!important;
}

#search button {
    margin-left: 20px;
    padding: 8px 8px 13px 8px;
    border-radius: 3px;
}

/* sign in modal */

#accountFinderAlert .modal-content,
#signIn .modal-content {
  border-radius:0;
  background-color:#efefef;
  box-shadow: 0 5px 15px rgb(19, 70, 36);
}

#accountFinderAlert .modal-content-inner,
#signIn .modal-content-inner {
  margin:15px;
  border:1px solid #dadada;
  background-color:#ffffff;
}

#signIn .modal-header {
  border-bottom:0;
  padding:15px 15px 0 15px;
}

#signIn .modal-body {
  border-bottom:0;
  padding:0 15px 15px 15px;
}

#signIn p {
  padding: 0em 0 0.5em;
  line-height: 1.5em;
  font-size: 95%;
  color: #727272;
  font-weight: 600;
}

#signIn .checkbox label {
  color: #6d6d6d;
  font-size: 95%;
  margin: 0.75em 0;
  font-weight: 600;
}

#signIn .modal-title {
  font-weight: 500;
  font-size: 1.8em;
}

#signIn .form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #8a8a8a;
  box-shadow: none;
  color:#154734;
}

/* accordion plus/minus */

.footer-accordion-btn {
  display: block;
  cursor: pointer;
}

.accordion-plus-minus-btn {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    float:left;
    margin-right:15px;
}

.accordion-plus-minus-btn-close {
  transform: rotate(45deg);
}

span.accordion-plus-minus {
  background-color: transparent;
  display: block;
  position: absolute;
  right: 0;
  top: 9px;
  height: 2px;
  width: 20px;
}

span.accordion-plus-minus:before {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #bfbfbf;
  content: "";
  border-radius: 8px;
  bottom: 0;
  transform: rotate(-90deg);
}

span.accordion-plus-minus:after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #bfbfbf;
  content: "";
  border-radius: 8px;
}

/* Contact Us accordion */

#contact {
  /* background:url(images/icon-bg.jpg); */
  background-repeat: repeat;
  border-top: 1px solid #30cd66;
  background-size: 40%;
  padding:1em;
}

.input-lg {
    border-radius: 3px;
}

#contact .form-control {
  color: #444444;
  background-color: #ffffff;
  font-size: 18px;
  background-image: none;
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
}

#contact .form-control:focus {
  border-color: #169a43;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.contact-wrapper {
    background: #f1f1f1;
    border-radius: 4px;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#contact h4 {
  background-color: #fff;
  padding: 2em;
  margin-bottom: 0;
  margin-top: 0;
  background-color: #144835;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  color: #ffffff;
}

.fs-1-1 {
  font-size:1.1em;
}

.faq-a {
  display: block;
  color: #ffffff;
  font-weight: 600;
  font-size: 1em;
}

#faqAccordion .accordion-plus-minus-btn span.accordion-plus-minus {
    top: 14px;
}

#faqAccordion span.accordion-plus-minus:before,
#faqAccordion span.accordion-plus-minus:after {
    background-color: #ffffff;
}

.panel.shown span.accordion-plus-minus:before {
  display:none;
}

#faqAccordion a:hover,
#faqAccordion a:focus,
#faqAccordion a:active {
    color: #ffffff;
    text-decoration: none!important;
}

#faqAccordion .collapse a:hover,
#faqAccordion .collapse a:focus,
#faqAccordion .collapse a:active {
    color: rgb(21,155,66);
    text-decoration: none!important;
}

#faqAccordion .panel .fa {
    font-size: 0.8em;
    float: right;
    margin-top: 6px;
    margin-right: 1em;
}

#faqAccordion p {
  font-size: 1em;
}

#faqAccordion .panel {
  margin-bottom: auto;
  background-color: transparent;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-left: 2em;
}

#faqAccordion .panel.shown {
  background-color:#16543e;
}

.light-bdr-bottom {
  border-bottom: 1px solid #217556;
}

/* footer */

footer {
  background-color:#f7f7f7;
  border-top: 1px solid #e6e6e6;
}

footer img {
  opacity: 0.3;
}

footer p {
  font-size: 90%;
  line-height: 1.5em;
}

footer ul li {
  padding:0.2em 0;
}

footer a {
  color:rgb(51, 51, 51);
}

footer a:hover,
footer a:active {
  color:rgb(21, 155, 66);
}

ul.footer-inline-list li {
  display: inline-block;
  margin-right: 3px;
  font-size: 90%;
}

ul.footer-inline-list li:first-child:before {
  content:"";
}

ul.footer-inline-list li.title {
  display:block;
}

.footer-loc-wrapper {
    width: auto;
    margin-right: 0;
    float: left;
}

.footer-nav-wrapper {
  float: left;
}

/* carousel cards */

.staff-hdr {
  text-align:center;
}

.staff-wrapper,
.product-wrapper,
.list-wrapper  {
  background-color:#f7f7f7;
}

.staff-carousel,
.product-carousel {
  margin-top:2em;
}

.staff-carousel .carousel-indicators .active,
.product-carousel .carousel-indicators .active,
#whyRCBCarousel .carousel-indicators .active {
    background-color: #e8a614;
    width: 10px;
    height: 10px;
    margin: 1px 8px;
}

.staff-carousel .carousel-indicators li,
.product-carousel .carousel-indicators li,
#whyRCBCarousel .carousel-indicators li {
  background-color: rgba(0, 0, 0, 0.25);
  margin: 1px 8px;
  border:0;
}

.staff-carousel .carousel-control.right,
.product-carousel .carousel-control.right,
#whyRCBCarousel .carousel-control.right {
    left: auto;
    right: 2%;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: repeat-x;
    filter: none;
}

.staff-carousel .carousel-control.left,
.product-carousel .carousel-control.left,
#whyRCBCarousel .carousel-control.left {
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: repeat-x;
    filter: none;
}

.staff-carousel .carousel-control .glyphicon-chevron-left,
.staff-carousel .carousel-control .glyphicon-chevron-right,
.staff-carousel .carousel-control .icon-prev,
.staff-carousel .carousel-control .icon-next,
.product-carousel .carousel-control .glyphicon-chevron-left,
.product-carousel .carousel-control .glyphicon-chevron-right,
.product-carousel .carousel-control .icon-prev,
.product-carousel .carousel-control .icon-next,
#whyRCBCarousel .carousel-control .glyphicon-chevron-left,
#whyRCBCarousel .carousel-control .glyphicon-chevron-right,
#whyRCBCarousel .carousel-control .icon-prev,
#whyRCBCarousel .carousel-control .icon-next  {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    font-size: 20px;
}

.staff-carousel .carousel-control,
.product-carousel .carousel-control,
#whyRCBCarousel .carousel-control {
    text-shadow: none;
    color: #ababab;
    z-index:1;
}

.staff-card,
.product-card {
  width: 98%;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  padding-bottom:2em;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.1);
}

.staff-card h3 {
  font-size:1.2em;
}

.staff-card-body,
.product-card-body {
  margin:0 auto;
  text-align:center;
  padding: 0 2em 3em 2em;
}

.staff-card-body h5 ,
.product-card-body h5 {
  line-height: 1.4;
}

.home-product-wrapper .product-card-body {
  padding: 0 2em 1em 2em;
}

.staff-card-body.about-card-body,
.product-card-body.about-card-body {
  position: relative;
  z-index: 1;
  color: #fff!important;
  text-align:left;
}

.staff-card.staff-card-about,
.product-card.product-card-about {
  position:relative;
}

.staff-card.staff-card-about:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(22, 154, 67, 0.9);
  z-index: 0;
  overflow: hidden;
}

/* profile headers */

.staff-bg {
  height: 100px;
  width: 100%;
  background-color: #124735;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.profile-pic {
  max-width: 100px;
  margin-top: -70px;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width:1px) {

  .logo-wrapper {
    float: left;
    margin-left: 10px;
    margin-bottom: -19px;
    z-index: 1001;
  }

  a.logo  {
    padding: 0.5em;
    padding-top: 1.5em;
    display: inline-block;
  }

  .logo img {
    width:90px;
  }

  /* right nav */

  ul.right-nav {
    position: absolute;
    display: inline-block;
    right: 15px;
    top: 22px;
  }

  ul.right-nav li {
    display:inline-block;
  }

  ul.right-nav li a {
    color:rgb(21,71,52);
    padding: 0.5em 0.3em;
    font-weight:600;
  }

  .right-nav button.sign-in {
    font-weight:normal;
    font-weight: 600;
    background-color: #159b42;
    border: 1px solid #159b42;
    color: #ffffff;
    margin-left:0.75em;
    font-size: 1em;
    padding: 6px 20px 8px 20px;
  }

  .right-nav button.sign-in:hover,
  .right-nav button.sign-in:focus,
  .right-nav button.sign-in:active {
    background-color: #6fbf4b;
    border: 1px solid #6fbf4b;
    outline:0!important;
  }

  /* nav personal and business */

  ul.nav-personal-tablist,
  ul.nav-business-tablist {
    margin:1em 0;
  }

  ul.nav-personal-tablist li a,
  ul.nav-business-tablist li a {
    padding: 0.5em 0;
    display: block;
    text-align: left;
    font-weight: 600;
    text-decoration:none;
  }

  ul.nav-personal-tablist li.active a,
  ul.nav-business-tablist li.active a {
    color: #124735;
    border-bottom: 1px solid #e7a614;
  }

  #personallearn,
  #businesslearn {
    padding:2em 0;
  }

  /* nav promo */

  .nav-promo {
    font-weight: 600;
    padding: 1em;
    font-size: 0.9em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:left;
  }

  /* mobile subnav */

  .nav-wrapper dl {
    margin-bottom:0;
  }

  .nav-wrapper dt {
    text-align: left;
    border-bottom: 1px solid #e6e6e6;
  }

  .nav-wrapper dt > a {
    display: block;
    padding: 1.5em 1em;
    cursor: pointer;
  }

  .nav-wrapper dt > a .fa {
    float:right;
  }

  .nav-wrapper dd {
    padding: 0 1em;
    text-align: left;
    border-bottom: 1px solid #e6e6e6;
    display:none;
  }

  .nav-wrapper dd ul > li {
    border-bottom: 1px solid #ddd;
  }

  .nav-wrapper dd ul > li:last-child {
    border-bottom:none;
  }

  .nav-wrapper dd ul > li > a {
    padding: 1.5em 0 1.5em 0.75em;
    display: block;
  }

  .subnav-toggle-in {
    display:block!important;
  }

  .mobile-subnav-article-li > a {
    padding: 1.5em 0 1.5em 0.75em!important;
  }

  /* category, product pages and components */

  /* product carousel */

  #productCarousel .carousel-control {
    text-shadow:none;
    opacity:1;
    color:#169a43;
  }

  #productCarousel .carousel-control .icon-prev, 
  #productCarousel .carousel-control .icon-next, 
  #productCarousel .carousel-control .fa-angle-left, 
  #productCarousel .carousel-control .fa-angle-right {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    z-index: 5;
    display: inline-block;
  }

  #productCarousel .carousel-control .icon-prev,
  #productCarousel .carousel-control .fa-angle-left {
    left: 0;
    margin-left: -10px;
  }

  #productCarousel .carousel-control .icon-next,
  #productCarousel .carousel-control .fa-angle-right {
    right: 0;
    margin-left: -10px;
  }

  #productCarousel .carousel-control .fa-angle-left,
  #productCarousel .carousel-control .fa-angle-right,
  #productCarousel .carousel-control .icon-prev, .carousel-control .icon-next {
    width: 60px;
    height: 60px;
    margin-top: -30px;
    font-size: 60px;
  }

  #productCarousel .carousel-control .fa-angle-left,
  #productCarousel .carousel-control .icon-prev {
    margin-left: -10px;
  }

  #productCarousel .carousel-control .fa-angle-right,
  #productCarousel .carousel-control .icon-next {
    margin-left: -10px;
  }

  #productCarousel .carousel-control.right,
  #productCarousel .carousel-control.left {
    background-image:none;
  }

  #productCarousel .category-product .category-product-icon,
  #productCarousel .category-product .category-product-body {
    display: block;
    text-align:center;
  }

  #productCarousel .category-product-body span {
    font-size: 80%;
    line-height:1.3em;
    display: block;
  }

  #productCarousel .carousel-control {
    width:6%;
  }

  #productCarousel .category-product {
    display:table;
    width:100%;
  }

  #productCarousel .carousel-indicators .active {
    background-color: #333;
    width: 10px;
    height: 10px;
    margin: 1px 8px;
  }

  #productCarousel .carousel-indicators li {
    background-color: rgba(0, 0, 0, 0.25);
    margin: 1px 8px;
  }

  #productCarousel .carousel-indicators {
    bottom: -20px;
  }

  .category-product {
    display:table;
  }

  .category-product a.product-icon-wrapper {
    padding:0 0.5em;
  }

  .category-product-icon,
  .category-product-body {
    display:block;
    vertical-align:top;
  }

  .category-product-body a {
    display: inline-block;
  }

  /* product data table */

  .small-device-label {
    float:left;
    display:inline-block;
  }

  .product-table ul {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom:0;
  }

  .product-table .product-table-label {
    height: 80px;
  }

  .product-table ul li {
    padding:1.2em 1em;
    text-align:right;
    font-size:93%;
    color:#555;
  }

  .product-table li > span {
    display: block;
    font-size: 75%;
    text-transform: uppercase;
    font-weight:700;
  }

  .product-table ul li:first-child {
    text-align:center;
  }

  .product-table ul li:last-child {
    padding:1.2em 0;
    text-align:center;
  }

  /* callout */

  .callout h1,
  .callout h2,
  .callout h3,
  .callout h4,
  .callout h5,
  .callout p {
    margin:0;
    text-transform:unset;
    font-size:2em;
  }

  .callout h3 {
    font-size: 1.1em;
    line-height:1.3;
  }

  .callout-body {
    display:block;
  }

  /* cards : learning center */

  .learning-center .card h4 a {
    font-weight: 500;
    line-height: 1.4em;
  }

  .learning-center a {
    color:#333;
  }

  .learning-center a:hover,
  .learning-center a:focus,
  .learning-center a:active {
    color:rgb(21,155,66);
  }

  .learning-center .card img {
    max-width:100%;
    width:100%;
  }

  /* heros */

  .hero {
    margin: 0 auto;
    position: relative;
    display:block;
    background-size:cover;
    background-position:center center;
    color: #ffffff;
  }

  .hero h5 {
    font-size: 20px;
    font-weight: 600;
  }

  .hero .hero-icon {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: #ffffff;
    border-radius: 100%;
    margin-right: 15px;
    padding: 10px;
    width: 70px;
    height: 70px;
    zoom: 0.75;
  }

  .hero h1 {
    margin-bottom: 10px;
    font-size:2em;
  }

  .hero p {
      font-size: 18px;
      color: #ffffff;
      line-height: 1.3em;
      max-width: none;
  }

  .hero .hero-content {
    margin: 50px 0px;
  }

  .hero .hero-content.hero-content-compact {
    margin: 50px 15px;
  }

  .hero-personal-checking {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(images/hero-sm.jpg);
    background-position: bottom center;
    background-size: cover;
    z-index: 0;
  }

  .hero-cashback-checking {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(images/cashback-checking-sm.jpg);
    background-position: top center;
    background-size: cover;
    z-index: 0;
  }

  .hero-learning-center {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(images/learning-center-sm.jpg);
    background-position: top center;
    background-size: cover;
    z-index: 0;
  }

  .hero-switch-kit {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(images/switch-kit-sm.jpg);
    background-position: bottom center;
    background-size: cover;
    z-index: 0;
  }

  .hero-green-mid-linear {
    background: rgba(248,80,50,1);
    background: -moz-linear-gradient(left, rgba(21,155,66,1) 0%, rgba(231,56,39,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(21,155,66,1)), color-stop(100%, rgba(5,76,29,1)));
    background: -webkit-linear-gradient(left, rgba(21,155,66,1) 0%, rgba(5,76,29,1) 100%);
    background: -o-linear-gradient(left, rgba(21,155,66,1) 0%, rgba(5,76,29,1) 100%);
    background: -ms-linear-gradient(left, rgba(21,155,66,1) 0%, rgba(5,76,29,1) 100%);
    background: linear-gradient(to right, rgba(21,155,66,1) 0%, rgba(5,76,29,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );
  }

  .background-mid {
    background: linear-gradient(rgba(22, 154, 67,0.9), rgba(22, 154, 67,0.9)), url(images/hero-green-sm.jpg);
    background-position: center;
    background-size: cover;
  }

  .hero-home {
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.15)), url(images/home-hero-alt-sm.jpg);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 0;
  }

  .hero-kids-corner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(images/kids-corner-sm.jpg);
    background-position: center center;
    background-size: cover;
    z-index: 0;
  }

  /* page navigation */


  nav.page-nav {
    margin: 0 auto;
    text-align: center;
    -webkit-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.15);
    box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.15);
  }

  nav.page-nav ul {
    margin-bottom:0;
    font-size: 0;
    color:#fff;
    display:inline-block;
    white-space: nowrap;
  }

  nav.page-nav ul li {
    display:inline-block;
    font-size:16px;
    border-bottom:0;
  }

  nav.page-nav ul li a {
    padding: 1em 1em;
    font-weight:600;
    /* border-left: 1px solid #18a948; */
    display: block;
    color:#fff;
  }

  nav.page-nav button {
    background-color:transparent;
    font-size:1.1em;
    outline:0!important;
    box-shadow:none!important;
    line-height:1px;
    margin:0;
  }

  nav.page-nav .explore {
    margin-right:1em;
  }

  nav.page-nav ul li a:hover {
    background-color:#1c614a;
  }

  nav.page-nav ul li.active,
  nav.page-nav ul li a:focus {
    background-color:#184536;
  }

  nav.page-nav ul li:first-child {
    padding-right:1em;
  }

  nav.page-nav ul li:last-child a {
    /* border-right: 1px solid #18a948; */
  }

  nav.page-nav ul li.page-nav-nav {
    display:inline-block;
  }

  /* affix positioning */

  nav.page-nav.affix {
    width:100%;
    z-index:16;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  }

  .page-nav-placeholder {
    position:relative;
    width:100%;
    display:none;
  }

  /* page nav collapsed */

  nav.page-nav.collapsed {
    text-align:left;
  }

  nav.page-nav.collapsed button {
    margin-top:1em;
    margin-bottom:1em;
    background-color:transparent;
    color:#fff;
    outline:none;
  }

  nav.page-nav.collapsed ul {
    margin-bottom:0;
    font-size: 0;
    color:#fff;
    display:block;
  }

  nav.page-nav.collapsed ul li a {
    color: #fff!important;;
    padding: 1em 0 1em 0.75em;
    display: block;
    font-weight: 600;
  }

  nav.page-nav.collapsed ul li a:hover {
    background-color:#13903d;
  }

  nav.page-nav.collapsed ul li a:focus {
    background-color:#184536;
  }

  nav.page-nav.collapsed ul li {
    border-bottom: 1px solid #148c3c;
    display:block;
  }

  nav.page-nav.collapsed ul li.page-nav-nav {
    display:none;
  }

  /* fixed to top */

  nav.page-nav.collapsed.affix {
    width:100%;
    top:0px;
    z-index:16;
  }

  /* switch kit */

  .switch-kit-wrapper .flex {
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .switch-step {
    max-width:400px;
    margin:0 auto;
  }

  .switch-kit-wrapper {
    background-color: #b8ffd0;
    border-top: 1px solid #6ede96;
    border-bottom: 1px solid #6ede96;
  }

  .switch-kit-whats-inside {
    margin-top:3em;
  }

  .switch-step li h3 {
    padding-top: 0.4em;
    font-size: 1.5em;
  }

  .switch-step li p {
    clear: both;
    padding-top: 1em;
  }

  .switch-step li i.fa {
    text-align: center;
    display: block;
  }

  .number-icon {
      width: 50px; 
      font-size: 16px;
      color:#ffffff;
      font-weight:800;
      float: left;
      margin-right: 1em;
  }

  .number-icon span {
      text-align: center;
      line-height: 50px;
      display: block;
      background-color: #ccc;
      border-radius: 50%;
  }

  .product-icon-wrapper {
    max-width:120px;
  }

  .product-wrapper a.product-icon-wrapper,
  .product-wrapper div.product-icon-wrapper {
    padding: 1.4em 1em;
    border-radius: 100%;
    border: 1px solid #e6e6e6;
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-top: 2em;
  }

  .product-wrapper a.product-icon-wrapper span.product-icon,
  .product-wrapper div.product-icon-wrapper span.product-icon {
    zoom: 1;
    margin-bottom: 0;
  }

  .product-card {
    border-bottom: 6px solid #169a43;
  }

  .product-card h3 {
    font-size:1.5em;
    text-transform: uppercase;
    line-height:1.3em;
  }

  .product-card ul li a {
    padding: 0.15em 0;
    display: block;
  }

  .product-card-body.about-card-body {
    position: relative;
    z-index: 1;
    color: #fff!important;
    text-align:center;
  }

  .product-card.product-card-about.personal-card:after {
    content: '';
    position: fixed;
    top: 0;
    right: 2%;
    bottom: 0;
    left: 0;
    background-color: rgb(22, 154, 67);
    z-index: 0;
    overflow: hidden;
  }

  .product-card.product-card-about.business-card:after {
      content: '';
      position: fixed;
      top: 0;
      right: 2%;
      bottom: 0;
      left: 0;
      background-color: rgb(20, 71, 55);
      z-index: 0;
      overflow: hidden;
  }

  #whyRCBCarousel {
    max-width: 600px;
    padding: 2em 2em 5em 2em;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);
    -webkit-transition: background-color 600ms linear;
    -moz-transition: background-color 600ms linear;
    -o-transition: background-color 600ms linear;
    -ms-transition: background-color 600ms linear;
    transition: background-color 600ms linear;
  }

  .hero-why-rcb-carousel {
    position:relative;
    transition: background-image 1s ease-in-out;
  }

  .hero-why-rcb-carousel .overlay {
    position:absolute;
    width:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    opacity: 0.5;
  } 

  .hero .hero-content #whyRCBCarousel  {
    margin: 50px 0;
  }

  .why-page-categories .fa {
    float: left;
    margin-right: 15px;
    margin-top: -8px;
  }

  .why-page-categories p {
    clear: both;
    margin-top: 1.5em;
  }

  p.about-statement {
      padding: 2em 0;
      font-size: 1.3em;
  }

  /* homepage callout/callout with photo */

  .hero-home .hero-content p {
    max-width:500px;
  }

  .callout-body {
    padding-bottom:2em;
  }

  .callout-photo .callout-cell {
    text-align:center;
  }

  .callout-photo img {
    margin-bottom:2em;
  }

  .callout-photo h2 {
    font-size:1.8em;
  }

  .callout-photo h3 {
    font-size:1.4em;
  }

  .new-mobile {
    float: right;
    clear: both;
    margin-top: 1em;
    margin-right: 2em;
  }

  .new-mobile p {
    font-size:14px;
    float:left;
  }

  .new-mobile img {
    float:right;
  }

  .home-product-wrapper .product-icon-wrapper:before {
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5)), url(images/hero-lg.jpg);
    width:100%;
    background-repeat:no-repeat;
  }

  /* account-finder */

  .progress-bar {
    width:100%;
    height:3px;
    border-radius:1px;
    background-color:#e6e6e6;
    margin:2em 0;
    padding:0;
  }

  .progress-bar span {
    background-color:#169a43;
    height:3px;
    display:block;
  }

  .account-finder-wrapper ul li {
    margin:1.2em 0;
  }

  .account-finder-wrapper .radio label,
  .account-finder-wrapper .checkbox label {
      padding-left: 30px;
  }

  .account-finder-wrapper .radio input[type="radio"],
  .account-finder-wrapper .radio-inline input[type="radio"],
  .account-finder-wrapper .checkbox input[type="checkbox"], 
  .account-finder-wrapper .checkbox-inline input[type="checkbox"] {
    margin-left: -30px;
  }

  .account-finder-tooltip {
    border: 0;
    background-color: transparent;
    color: rgba(21, 73, 54, 0.99);
  }

  .account-finder-tooltip .fa {
    font-size: 1.3em;
  }

  /* account finder alert */

  .account-finder-alert .modal-header {
    border-bottom: 0;
    padding: 5px 15px;
    font-weight: 700;
    letter-spacing: -1px;
  }

  .account-finder-alert .modal-content {
    color: #fff;
  }

  .account-finder-alert .modal-content p {
    font-size: 18px;
    margin-bottom: 1.5em;
    padding:15px;
  }

  .account-finder-alert .modal-footer {
    padding:0 15px 15px 15px;
  }

  .account-finder-alert small {
    font-size:16px;
  }

  /* account finder table */

  .account-finder-table a ul:hover li:nth-of-type(even) {
    background-color: rgb(247, 247, 247);
  }

  .account-finder-table a ul:hover li:nth-of-type(odd) {
    background-color: rgb(232, 232, 232);
  }

  .account-finder-table a ul.account-selected li:nth-of-type(even),
  .account-finder-table a ul.account-selected:hover li:nth-of-type(even) {
    background-color: rgb(29, 167, 76);
  }

  .account-finder-table a ul.account-selected li:nth-of-type(odd),
  .account-finder-table a ul.account-selected:hover li:nth-of-type(odd) {
    background-color: rgb(22, 154, 67);
    border-top: 1px solid #26b858;
    border-bottom: 1px solid #25b957;
  }

  .product-table .product-table-label.account-finder-selected-header {
    border-top: 12px solid #144835;
    margin-top: -30px;
    height: 110px;
  }

  .product-table ul.account-selected li {
    color:#fff;
    font-weight:700;
  }

  .product-table ul.account-selected li:last-child,
  .product-table ul.account-selected:hover li:last-child {
    border-top:0;
  }

  .product-table ul.account-selected li .btn {
    box-shadow: inset 0 0 0 0 #159b42;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(20, 73, 54);
    background-color: #ffffff;
    font-size: 18px;
  }

  /* account finder answers */

  .af-answers li {
    font-size: 1em;
    padding: 1em 0;
    border-bottom: 1px solid #e9e9e9;
  }

  .af-answers li:last-child {
    border-bottom:0;
  }

  .af-answers li strong {
    margin-right:0.5em;
  }

  .af-answers ol {
    margin-left: 1em;
    padding-left: 0;
  }

  /* sortable ul - currently uses jQuery UI */

  ul.sortable li {
    padding: 0.75em;
    background-color: #f7f7f7;
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    margin:0;
    padding:0;

    display:table;
    width:100%;
  }

  ul.sortable li div {
    display: table-cell;
    padding: 0.25em 1em;
    vertical-align: middle;
    text-align:left;
  }

  ul.sortable li:first-child {
    border-top:1px solid #e6e6e6;
  }

  .handle {
    color: #169a43;
    background-color:#ffffff;
    width: 50px;
    height: 50px;
    cursor:move;
  }

  ul.sortable li div:first-child {
    border-right:1px solid #e7e7e7;
    text-align: center;
  }

}

@media screen and (min-width:480px) {

  a.logo  {
    padding-top: 1.25em;
  }

  .logo img {
    width:120px;
  }

  /* contact */

  #contact {
    padding:2em;
  }
}

@media screen and (max-width:767px) {

  .hero #whyRCBCarousel {
    margin: 0 auto;
    position: relative;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    color: #ffffff;
  }

  .hero .hero-content #whyRCBCarousel {
      margin: 200px -15px;
  }

  /* home */

  .new-mobile img {
    width:22px;
  }

  .hero-home h1 {
    clear:both;
  }

  #homepage-product-carousel > .carousel-indicators {
    position: absolute;
    display: table;
    width: 100%;
    bottom: 0;
    height: 2px;
    left: 0;
    margin: 0;
    z-index: 15;
    width: 100%;
    padding-left: 0;
    list-style: none;
  }

  #homepage-product-carousel > .carousel-indicators li {
    width: auto;
    height: 2px;
    margin: 0;
    display: table-cell;
    text-indent: -999px;
    border: 0;
    border-radius:0;
    cursor: pointer;
    background-color: #f7f7f7;
  }

  #homepage-product-carousel > .carousel-indicators li.active {
    background-color: #144835;
  }
}

@media screen and (min-width:768px) {

  /* heros */

  .hero {
    margin: 0 auto;
    position: relative;
    display:block;
    background-size:cover;
    background-position:center center;
    color: #ffffff;
  }

  .hero h5 {
    font-size: 20px;
    font-weight: 600;
  }

  .hero h1 {
    margin-bottom: 10px;
    font-size:4em;
  }

  .hero p {
    font-size: 19px;
    color: #ffffff;
    line-height: 1.5em;
    max-width: 700px;
  }

  .hero .hero-content {
    margin: 100px 0px;
  }

  .hero-compact .hero-content {
    margin: 50px 15px;
  }

  .hero-personal-checking {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.7)), url(images/hero-md.jpg);
    background-position: bottom center;
    background-size: cover;
    z-index: 0;
  }

  .hero-cashback-checking {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(images/cashback-checking-md.jpg);
    background-position: top center;
    background-size: cover;
    z-index: 0;
  }

  .background-mid {
    background: linear-gradient(rgba(22, 154, 67,0.9), rgba(22, 154, 67,0.9)), url(images/hero-green-md.jpg);
    background-position: center;
    background-size: cover;
  }

  .hero-home {
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.15)), url(images/home-hero-alt-md.jpg);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 0;
  }

  .hero-kids-corner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(images/kids-corner-md.jpg);
    background-position: center center;
    background-size: cover;
    z-index: 0;
  }

  a.logo  {
    display: inline-block;
    padding-top:0.9em;
  }

  .logo img {
    width:165px;
  }

  #signIn .modal-dialog {
    width:390px;
  }

  ul.right-nav li a {
    padding: 0.5em 0.5em;
  }

  #search button {
    padding: 8px 24px 13px 24px;
  }

  .product-table ul li:last-child {
    padding:1.2em;
  }

  /* callout */

  .callout h1,
  .callout h2,
  .callout h3,
  .callout h4,
  .callout h5,
  .callout p {
    margin:0;
    text-transform:unset;
    font-size:2em;
  }

  .callout h3 {
    font-size: 1.2em;
  }

  .callout-body {
    display:block;
  }

  .category-product-icon,
  .category-product-body {
    display:table-cell;
    vertical-align:top;
  }

  /* contact us */

  .page-header h1 {
    font-size:4em;
    margin:0;
  }

  .page-header p {
    max-width: 700px;
  }

  .faq-a {
      font-size: 1.3em;
  }

  #faqAccordion p {
      font-size: 1.1em;
  }

  /* footer */

  .footer-loc-wrapper {
      width: 500px;
      float: left;
  }

  /* Switch Kit */

  .switch-step li h3 {
    padding-top: 0.4em;
    font-size: 1.5em;
  }

  .switch-step li p {
    clear: both;
    padding-top: 1em;
  }

  .switch-step li i.fa {
    text-align: center;
    display: block;
  }

  .number-icon {
      width: 50px; 
      font-size: 16px;
      color:#ffffff;
      font-weight:800;
      float: left;
      margin-right: 1em;
  }

  .number-icon span {
      text-align: center;
      line-height: 50px;
      display: block;
      background-color: #ccc;
      border-radius: 50%;
  }

  /* contact */

  #contact {
    padding:5em;
  }

  /* Why RCB Bank */

  p.p-large {
    font-size:1.3em;
  }

  .product-wrapper a.product-icon-wrapper,
  .product-wrapper div.product-icon-wrapper {
    padding: 1.4em 1em;
    border-radius: 100%;
    border: 1px solid #e6e6e6;
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-top: 2em;
  }

  .product-wrapper a.product-icon-wrapper span.product-icon,
  .product-wrapper div.product-icon-wrapper span.product-icon {
    zoom: 1;
    margin-bottom: 0;
  }

  .product-card {
    border-bottom: 6px solid #169a43;
  }

  .product-card-alt {
    border-bottom: 6px solid #144835;
  }

  .product-card h3 {
    font-size:1.5em;
    text-transform: uppercase;
    line-height:1.3em;
  }

  .product-card ul li a {
    padding: 0.15em 0;
    display: block;
  }

  .product-card-body.about-card-body {
    position: relative;
    z-index: 1;
    color: #fff!important;
    text-align:center;
  }

  .product-card.product-card-about.personal-card:after {
    content: '';
    position: fixed;
    top: 0;
    right: 2%;
    bottom: 0;
    left: 0;
    background-color: rgb(22, 154, 67);
    z-index: 0;
    overflow: hidden;
  }

  .product-card.product-card-about.business-card:after {
      content: '';
      position: fixed;
      top: 0;
      right: 2%;
      bottom: 0;
      left: 0;
      background-color: rgb(20, 71, 55);
      z-index: 0;
      overflow: hidden;
  }

  .why-page-categories .fa {
    float: left;
    margin-right: 15px;
    margin-top: -8px;
  }

  .why-page-categories p {
    clear: both;
    margin-top: 1.5em;
  }

  p.about-statement {
    padding: 2em 0;
    font-size: 1.5em;
  }

  #whyRCBCarousel {
    max-width: 600px;
    padding: 2em 2em 5em 2em;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);
    -webkit-transition: background-color 600ms linear;
    -moz-transition: background-color 600ms linear;
    -o-transition: background-color 600ms linear;
    -ms-transition: background-color 600ms linear;
    transition: background-color 600ms linear;
  }

  .hero-why-rcb-carousel {
    position:relative;
    transition: background-image 1s ease-in-out;
  }

  .hero-why-rcb-carousel .overlay {
    position:absolute;
    width:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    opacity: 0.5;
  }

  /* home */

  #homepage-product-carousel > .carousel-indicators {
    position: absolute;
    display: table;
    width: 100%;
    bottom: 0;
    height: 2px;
    left: 0;
    margin: 0;
    z-index: 15;
    width: 100%;
    padding-left: 0;
    list-style: none;
  }

  #homepage-product-carousel > .carousel-indicators li {
    width: auto;
    height: 2px;
    margin: 0;
    display: table-cell;
    text-indent: -999px;
    border: 0;
    border-radius:0;
    cursor: pointer;
    background-color: #f7f7f7;
  }

  #homepage-product-carousel > .carousel-indicators li.active {
    background-color: #169a43;
  }

  .cycles > .carousel-control {
    opacity:1;
    text-shadow:none;
    color:#ffffff;
    width:50%;
    background-color:#169a43;
  }

  .cycles > .carousel-control:hover {
    background-color:#144835;
  }

  .cycles > .carousel-control.left,
  .cycles > .carousel-control.right {
    background-image:none;
  }

  .border-right {
    border-right: 1px solid #ddd;
  }

  /* homepage callout/callout with photo */

  .callout-photo .callout-body {
    display:table;
    width:100%;
    padding:1em;
  }

  .callout-photo .callout-cell {
    display:table-cell;
    vertical-align:middle;
  }


  .callout-photo img {
    float:left;
    margin:-1em;
    margin-right:1em;
  }

  .photo-cell,
  .callout-photo img {
    width:277px;
  }

  .callout-photo h2 {
    font-size:1.8em;
  }

  .callout-photo h3 {
    font-size:1.4em;
  }

}

@media screen and (max-width:991px) {
  .nav-backdrop {
    display:none!important;
  }
}

@media screen and (min-width:992px) {

  body {
    padding-top:78px;
  }

  .logo-wrapper {
    margin-left: 30px;
    margin-right:10px;
  }

  ul.right-nav {
    right: 30px;
  }

  .nav-promo {
    text-align:center;
  }

  .cbp-hsmenu-wrapper .cbp-hsmenu {
    text-align: left;
  }

  #personallearn,
  #businesslearn {
    padding:1em 0;
  }

  /* heros */

  .hero {
    margin: 0 auto;
    position: relative;
    display:block;
    background-size:cover;
    background-position:center center;
    color: #ffffff;
  }

  .hero h5 {
    font-size: 20px;
    font-weight: 600;
  }

  .hero h1 {
    margin-bottom: 10px;
  }

  .hero p {
    font-size: 19px;
    color: #ffffff;
    line-height: 1.5em;
    max-width: 700px;
  }

  .hero .hero-content {
    margin: 100px 15px;
  }

  .hero-compact .hero-content {
    margin: 50px 15px;
  }

  .hero-personal-checking {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.7)), url(images/hero-md.jpg);
    background-position: bottom center;
    background-size: cover;
    z-index: 0;
  }

  .hero-cashback-checking {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(images/cashback-checking-md.jpg);
    background-position: top center;
    background-size: cover;
    z-index: 0;
  }

  .hero-learning-center {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(images/learning-center-md.jpg);
    background-position: top center;
    background-size: cover;
    z-index: 0;
  }

  .hero-switch-kit {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(images/switch-kit-md.jpg);
    background-position: bottom center;
    background-size: cover;
    z-index: 0;
  }

  .background-mid {
    background: linear-gradient(rgba(22, 154, 67,0.9), rgba(22, 154, 67,0.9)), url(images/hero-green-md.jpg);
    background-position: center;
    background-size: cover;
  }

  .hero-home {
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.15)), url(images/home-hero-alt-md.jpg);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 0;
  }

  .hero-kids-corner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(images/kids-corner-md.jpg);
    background-position: center center;
    background-size: cover;
    z-index: 0;
  }

  .page-header {
    padding: 2em 1em;
  }

  .page-header h2 {
    font-size:2.5em;
  }

  a.product-icon-wrapper {
    max-width:120px;
  }

  section {
    margin-right:1em;
    margin-left:1em;
  }

  /* alert */

  .alert {
    padding-left:2em;
    padding-right:3em;
  }
  

  /* footer */

  .footer-address-wrapper {
    width: 200px;
    float: left;
  }

  .footer-nav-wrapper {
    width: 200px;
  }

  .footer-loc-wrapper {
    width: 250px;
    margin-right: 50px;
    float: left;
  }

  .nav-backdrop {
    display:none;
  }

  /* home */

  .hero-home h1 {
    margin-right:2.2em;
  }

  .hero-table {
    display: table;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero-cell {
    display:table-cell;
    vertical-align:middle;
  }

  .homepage-signin-wrapper {
    display:block;
    position:relative;
    width:100%;
    min-width: 325px;
  }

  .homepage-signin {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  }

  .homepage-signin > h4 {
    font-weight: 500;
    font-size: 1.8em;
  }

  .homepage-signin .form-control {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #8a8a8a;
    box-shadow: none;
    color: #154734;
  }

  .homepage-signin p {
    padding-top: 1.4em;
    line-height: 1.5em;
    font-size: 1em;
    color: #727272;
    font-weight: 600;
  }

  .border-right {
    border-right: 1px solid #ddd;
  }

  .new-desktop {
    float: left;
    margin-left: -300px;
    margin-top: -40px;
  }

  .new-desktop p {
    letter-spacing: -0.5px;
  }

  .new-desktop img {
    float:right;
    margin-top: -10px;
  }

  #homepage-product-carousel > .carousel-indicators {
    position: absolute;
    display: table;
    width: 100%;
    bottom: 0;
    height: 2px;
    left: 0;
    margin: 0;
    z-index: 15;
    width: 100%;
    padding-left: 0;
    list-style: none;
  }

  #homepage-product-carousel > .carousel-indicators li {
    width: auto;
    height: 2px;
    margin: 0;
    display: table-cell;
    text-indent: -999px;
    border: 0;
    border-radius:0;
    cursor: pointer;
    background-color: #f7f7f7;
  }

  #homepage-product-carousel > .carousel-indicators li.active {
    background-color: #169a43;
  }

  .cycles > .carousel-control {
    opacity:1;
    text-shadow:none;
    color:#ffffff;
    width:50%;
    background-color:#144835;
  }

  .cycles > .carousel-control:hover {
    background-color:#169a43;
  }

  .cycles > .carousel-control.left,
  .cycles > .carousel-control.right {
    background-image:none;
  }

  .border-right {
    border-right: 1px solid #ddd;
  }

  /* homepage callout/callout with photo */

  .photo-cell,
  .callout-photo img {
    width:360px;
  }

}

@media screen and (min-width:992px) and (max-width:1199px) {
  a.product-icon-wrapper {
    padding: 0.75em 0.75em;
    font-size: 93%;
  }
}

@media screen and (min-width:1200px) {

  /* product table */

  .product-table {
    margin-right:2em;
  }

  .product-table .col-lg-2,
  .product-table .col-md-6,
  .product-table .col-sm-6 {
    padding-left:0;
    padding-right:0;
  }

  /* nav */

  a.product-icon-wrapper.large {
    max-width: 175px;
  }

  /* search modal */

  #search .modal-dialog {
    width:800px;
    margin-top: 75px;
  }

  /* heros */

  .hero {
    margin: 0 auto;
    position: relative;
    display:block;
    background-size:cover;
    background-position:center center;
    color: #ffffff;
  }

  .hero h5 {
    font-size: 20px;
    font-weight: 600;
  }

  .hero h1 {
    margin-bottom: 10px;
    margin-top: 0;
  }

  .hero p {
    font-size: 19px;
    color: #ffffff;
    line-height: 1.5em;
    max-width: 700px;
  }

  .hero .hero-content {
    margin: 100px 15px;
  }

  .hero-compact .hero-content {
    margin: 50px 15px;
  }

  .btn-brand-yellow:hover {
    transform: scale(1.1);
    transition: all .2s;
  }

  /* hero backgrounds */

  .hero-personal-checking {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.7)), url(images/hero-lg.jpg);
    background-position: bottom center;
    background-size: 100%;
    z-index: 0;
  }

  .hero-personal-checking-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.7)), url(images/hero-bg-2.jpg);
    background-position: bottom center;
    background-size: 100%;
    z-index: 0;
  }

  .hero-cashback-checking {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(images/cashback-checking-lg.jpg);
    background-position: center center;
    background-size: cover;
    z-index: 0;
  }

  .hero-learning-center {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(images/learning-center-lg.jpg);
    background-position: top center;
    background-size: cover;
    z-index: 0;
  }

  .hero-switch-kit {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(images/switch-kit-lg.jpg);
    background-position: bottom center;
    background-size: cover;
    z-index: 0;
  }

  .background-mid {
    background: linear-gradient(rgba(22, 154, 67,0.9), rgba(22, 154, 67,0.9)), url(images/hero-green-lg.jpg);
    background-position: center;
    background-size: cover;
  }

  .hero-home {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.15)), url(images/home-hero-alt.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
  }

  .hero-kids-corner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(images/kids-corner-lg.jpg);
    background-position: center center;
    background-size: cover;
    z-index: 0;
  }

  /* callout */

  .callout h1,
  .callout h2,
  .callout h3,
  .callout h4,
  .callout h5,
  .callout p {
    margin:0;
    text-transform:unset;
    font-size: 3em;
  }

  .callout h3 {
    font-size: 1.2em;
  }

  .callout-body {
    display:block;
  }

  .product-table ul li {
    text-align:center;
  }

  /* footer */

  .footer-address-wrapper {
    width: 230px;
    float: left;
  }

  .footer-nav-wrapper {
    width: 215px;
  }

  .footer-loc-wrapper {
    width: 400px;
    margin-right:75px;
    float: left;
  }

  /* Switch Kit */

  .number-icon {
      width: 50px; 
      font-size: 16px;
      color:#ffffff;
      font-weight:800;
      margin: 0 auto;
      float: none;
  }

  .number-icon span {
      text-align: center;
      line-height: 50px;
      display: block;
      background-color: #ccc;
      border-radius: 50%;
  }

  .switch-step {
    padding-top:0;
    text-align:center;
  }

  .switch-step h3 {
    margin: 0.5em 0 0;
  }

  .switch-kit-whats-inside {
    margin-top:0;
  }

  #contact {
    padding:5em;
  }

  /* home */

  .hero-table {
    display: table;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero-cell {
    display:table-cell;
    vertical-align:middle;
  }

  .homepage-signin-wrapper {
    display:block;
    position:relative;
    width:100%;
  }

  .homepage-signin {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  }

  .homepage-signin > h4 {
    font-weight: 500;
    font-size: 1.8em;
  }

  .homepage-signin .form-control {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #8a8a8a;
    box-shadow: none;
    color: #154734;
  }

  .homepage-signin p {
    padding-top: 1.4em;
    line-height: 1.5em;
    font-size: 1em;
    color: #727272;
    font-weight: 600;
  }

  #homepage-product-carousel > .carousel-indicators {
    position: absolute;
    display: table;
    width: 100%;
    bottom: 0;
    height: 2px;
    left: 0;
    margin: 0;
    z-index: 15;
    width: 100%;
    padding-left: 0;
    list-style: none;
  }

  #homepage-product-carousel > .carousel-indicators li {
    width: auto;
    height: 2px;
    margin: 0;
    display: table-cell;
    text-indent: -999px;
    border: 0;
    border-radius:0;
    cursor: pointer;
    background-color: #f7f7f7;
  }

  #homepage-product-carousel > .carousel-indicators li.active {
    background-color: #169a43;
  }

  .cycles > .carousel-control {
    opacity:1;
    text-shadow:none;
    color:#ffffff;
    width:50%;
    background-color:#144835;
  }

  .cycles > .carousel-control:hover {
    background-color:#169a43;
  }

  .cycles > .carousel-control.left,
  .cycles > .carousel-control.right {
    background-image:none;
  }

  .border-right {
    border-right: 1px solid #ddd;
  }

  .new-desktop {
    float: left;
    margin-left: -300px;
    margin-top: -40px;
  }

  .new-desktop p {
    letter-spacing: -0.5px;
  }

  .new-desktop img {
    float:right;
    margin-top:-10px;
  }

  /* homepage callout/callout with photo */

  .photo-cell,
  .callout-photo img {
    width:480px;
  }

  .callout-photo h3 {
    font-size:1.4em;
  }

  /* account finder */

  .product-table ul.account-selected li.product-table-label {
    height: 110px;
    margin-top: -30px;
    padding-top: 30px;
  }

}

@media screen and (min-width:1350px) {

  .cbp-hsmenu-wrapper .cbp-hsmenu {
    text-align: center;
  }
}